STM32CubeMonitor/H0BR4.json
[{"id":"8381c865.236028","type":"subflow","name":"Single value","info":"The 'single value' subflow allows to :\r\n * Filter Data to extract only one variable after the \"processing node\" step .\r\n * Modify the message to fit with standard widgets such as gauges.\r\n * Limit the number of messages to a maximum of 10 msg per second.\r\n\r\n### **Input**\r\n\r\nThe subflow 'single value' takes in input the `msg.payload`\r\nfrom the processing output. All the messages sent by the processing node have the same structure.\r\n\r\n    \"payload\": {\r\n        \"groupname\": \"Snapshot2\",\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ],\r\n        \"variablename\": \"int2\"\r\n      }\r\n    }\r\n\r\n### **Filter on selected variable**\r\nSeveral messages are sent by the processing node for each variable, so the first step of this 'single value' subflow is to filter and keep only messages related to the selected variable.\r\nThe 'filter variable' node will only keep messages with the right `variablename` key.\r\n\r\n### **Extract duplets table**\r\n\r\nThe received message is an Object containing {groupname, variabledata[array], variablename}.  \r\nThe array contains two variables :\r\n - `y` the value \r\n - `x` the time\r\n\r\nA single message contains multiple pairs of values extract at a regular time interval.\r\nThe time interval depends on the acquisition frequency.\r\nWith the 'change' node and the `set` property, the `msg.payload` is set to \r\n`msg.payload.variabledata`, only the data variable array is set into msg.payload.\r\n\r\n    \"payload\": {\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ]\r\n    }\r\n\r\n### **Split duplets table**\r\n\r\nThe data variable array is split with a length of one in smaller objects by the 'split' node.\r\nEach new object contains two subvariables : `y` and `x`.\r\n\r\n    \"payload\": {\r\n        \"y\": \"9\",\r\n        \"x\": \"1567509421459\"\r\n    }\r\n\r\n\r\n### **Limit the number of messages**\r\n\r\nThe 'delay' node allows to limit the maximum number of message per second.\r\nIn the 'single value' subflow, one message is extracted per second.\r\n\r\n>_Be careful, a dashboard saturation risk exists if too many messages are received per second._\r\n\r\n### **Extract only y values**\r\n\r\nThe `msg.payload` is set to `msg.payload.y` with the `set` property. \r\nOnly `y` variable is set into msg.payload as single value.\r\n\r\n    \"payload\": { \r\n        \"y\": \"9\" \r\n    }\r\n\r\n### **Output** \r\n\r\nSome widgets such as the gauge and the text node are using the `msg.payload` property.  \r\nThe output node is linked to a gauge that allows to see the evolution \r\nof the `y` variable as a function of time.\r\n\r\n\r\n![subflow_gauge](images/subflow_gauge.png)\r\n\r\n### **Details**\r\n\r\nNote : The debug node allows to see clearly and easily the \r\nmessage at the node output.  \r\n\r\n\r\n> More details on [Node-Red][nr]\r\n[nr]: https://nodered.org/docs/user-guide/editor/workspace/subflows\r\n\r\n\r\n-------\r\n\r\n","category":"","in":[{"x":40,"y":60,"wires":[{"id":"3c5ffe0d.9063b2"}]}],"out":[{"x":780,"y":140,"wires":[{"id":"66397fd3.d8111","port":0}]}],"env":[{"name":"varfilter","type":"str","value":""}],"color":"#DDAA99"},{"id":"3c5ffe0d.9063b2","type":"switch","z":"8381c865.236028","name":"filter variable","property":"payload.variablename","propertyType":"msg","rules":[{"t":"eq","v":"varfilter","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":60,"wires":[["4e5ba7a5.14dec8"]]},{"id":"4e5ba7a5.14dec8","type":"change","z":"8381c865.236028","name":"keep only table of duplets","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.variabledata","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":60,"wires":[["42bc6ed.5b20d9"]]},{"id":"42bc6ed.5b20d9","type":"split","z":"8381c865.236028","name":"Split a table[1..n] of duplets in n msg of single duplet","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":800,"y":60,"wires":[["8b8ddb84.6fb208"]]},{"id":"8b8ddb84.6fb208","type":"delay","z":"8381c865.236028","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":140,"wires":[["66397fd3.d8111"]]},{"id":"66397fd3.d8111","type":"change","z":"8381c865.236028","name":"keep only value and delete timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.y","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":140,"wires":[[]]},{"id":"292ab828.018248","type":"tab","label":"IMU","disabled":false,"info":"# Advanced Flow of STM32CubeMonitor to highlight possibilities"},{"id":"d4753c17.2f742","type":"acquisition in","z":"292ab828.018248","name":"myProbe_In2","probeconfig":"d9a6039e.00014","x":170,"y":500,"wires":[["787495b.5e9fb6c"],[]]},{"id":"787495b.5e9fb6c","type":"processing","z":"292ab828.018248","groupname":"IMU Read","groupid":"fd1b05fc.b80228","expressions":[],"statistics":[],"logmode":"no","x":400,"y":500,"wires":[["fd402162.345b5","c4466c67.ac7e4","7c513b25.ac8f14","cc755d0b.7fbdb","5a847fd5.e5ff3","f90914ff.6ab218","f9fbf34b.de0fc","98bebd30.fff6c","ee10ca58.076a48","405b38ef.9e0928","3e98eef4.703902","47c2681d.2354e8","9acffb3.3fb9b08","22006c4c.107e54"],[]]},{"id":"4f1e64e2.8c5c3c","type":"ui_text","z":"292ab828.018248","group":"d4e8ca7d.893ce8","order":2,"width":4,"height":1,"name":"","label":"y","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":540,"wires":[]},{"id":"399d86f3.fbbe3a","type":"ui_text","z":"292ab828.018248","group":"d4e8ca7d.893ce8","order":3,"width":4,"height":1,"name":"","label":"z","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":580,"wires":[]},{"id":"52f1051e.4e1d1c","type":"acquisition out","z":"292ab828.018248","name":"myProbe_Out","probeconfig":"d9a6039e.00014","x":500,"y":40,"wires":[]},{"id":"4c704f93.54897","type":"acquisition out","z":"292ab828.018248","name":"myProbe_Out2","probeconfig":"d9a6039e.00014","x":740,"y":340,"wires":[]},{"id":"1bf9e530.75865b","type":"ui_button","z":"292ab828.018248","name":"","group":"3b87547c.f7b8ac","order":3,"width":5,"height":1,"passthru":false,"label":"DISCONNECT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"stop","x":180,"y":60,"wires":[["fd1b05fc.b80228"]]},{"id":"f2585253.cf93d","type":"ui_button","z":"292ab828.018248","name":"","group":"3b87547c.f7b8ac","order":2,"width":5,"height":1,"passthru":false,"label":"CONNECT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"start","x":170,"y":20,"wires":[["fd1b05fc.b80228"]]},{"id":"ba930e37.9320e","type":"function","z":"292ab828.018248","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)+\" DPS\"\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":540,"wires":[["4f1e64e2.8c5c3c"]]},{"id":"e69d9a94.b3deb8","type":"function","z":"292ab828.018248","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)+\" DPS\"\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":580,"wires":[["399d86f3.fbbe3a"]]},{"id":"fd402162.345b5","type":"subflow:8381c865.236028","z":"292ab828.018248","name":"myFilter","env":[{"name":"varfilter","value":"temperature","type":"str"}],"x":640,"y":980,"wires":[["17a86199.e3c8de"]]},{"id":"269595bd.b47bea","type":"ui_text","z":"292ab828.018248","group":"313e92ff.8bba9e","order":1,"width":12,"height":1,"name":"","label":"temperature","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":980,"wires":[]},{"id":"17a86199.e3c8de","type":"function","z":"292ab828.018248","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)+\" °C\"\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":980,"wires":[["269595bd.b47bea"]]},{"id":"28640706.a547f8","type":"ui_dropdown","z":"292ab828.018248","name":"","label":"Sensor","tooltip":"","place":"Select option","group":"3b87547c.f7b8ac","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Gyroscope","value":"gyro","type":"str"},{"label":"ِAccelerometer","value":"acc","type":"str"},{"label":"Magnetometer","value":"mag","type":"str"},{"label":"Thermometer","value":"temp","type":"str"}],"payload":"","topic":"","x":160,"y":160,"wires":[["55ab2230.39419c","f049b54a.9106c8"]]},{"id":"39375c67.a67b24","type":"ui_button","z":"292ab828.018248","name":"","group":"23b8812c.48752e","order":3,"width":4,"height":1,"passthru":false,"label":"STOP STREAM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":180,"y":300,"wires":[["9c637603.333088"]]},{"id":"9bd37823.8df208","type":"template","z":"292ab828.018248","name":"time address","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n\n   \"variablelist\": [\n       {\n\n           \"address\": \"0x20000000\",\n\n           \"type\": 5,\n\n           \"value\": \"{{payload}}\"\n\n       }\n\n   ],\n\n   \"accesspoint\": 0\n\n}","output":"json","x":370,"y":420,"wires":[["b11b73e6.1b808"]]},{"id":"a30b2aed.633058","type":"ui_text_input","z":"292ab828.018248","name":"","label":"Sampling Time","tooltip":"","group":"23b8812c.48752e","order":1,"width":3,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"","x":180,"y":420,"wires":[["9bd37823.8df208"]]},{"id":"8d5f7cc0.90ab6","type":"ui_button","z":"292ab828.018248","name":"","group":"23b8812c.48752e","order":2,"width":3,"height":1,"passthru":false,"label":"START STREAM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":190,"y":340,"wires":[["9c637603.333088"]]},{"id":"a7afff14.4fcc6","type":"ui_button","z":"292ab828.018248","name":"","group":"9f58fe1.e3b0e","order":1,"width":10,"height":1,"passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":150,"y":380,"wires":[["9c637603.333088"]]},{"id":"bbcb1229.74d37","type":"split","z":"292ab828.018248","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":450,"y":160,"wires":[["a0197dbf.9c92e"]]},{"id":"9c637603.333088","type":"template","z":"292ab828.018248","name":"flag address","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n\n   \"variablelist\": [\n       {\n\n           \"address\": \"0x20000004\",\n\n           \"type\": 1,\n\n           \"value\": \"{{payload}}\"\n\n       }\n\n   ],\n\n   \"accesspoint\": 0\n\n}","output":"json","x":410,"y":340,"wires":[["b11b73e6.1b808"]]},{"id":"e3e46270.dc7fe","type":"template","z":"292ab828.018248","name":"currentCharacter address","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n\n   \"variablelist\": [\n       {\n\n           \"address\": \"0x20000005\",\n\n           \"type\": 1,\n\n           \"value\": \"{{payload}}\"\n\n       }\n\n   ],\n\n   \"accesspoint\": 0\n\n}","output":"json","x":750,"y":240,"wires":[["b11b73e6.1b808"]]},{"id":"a0197dbf.9c92e","type":"function","z":"292ab828.018248","name":"","func":"m = msg.payload\no = m.charCodeAt(0);\n\nreturn {payload:o}","outputs":1,"noerr":0,"x":570,"y":160,"wires":[["41a1e982.78ffb8"]]},{"id":"b11b73e6.1b808","type":"change","z":"292ab828.018248","name":"msg 1","rules":[{"t":"set","p":"topic","pt":"msg","to":"write","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":340,"wires":[["4c704f93.54897"]]},{"id":"55ab2230.39419c","type":"function","z":"292ab828.018248","name":"","func":"if (msg.payload == \"gyro\" ) {\n    msg.payload = {\"group\":{\"hide\":[\"IMU_Magnetometer\",\"IMU_Thermometer\",\"IMU_Accelerometer\"],\"show\":[\"IMU_Gyroscope\"]}};\n    return msg;\n}\n\nif (msg.payload == \"acc\" ) {\n     msg.payload = {\"group\":{\"hide\":[\"IMU_Magnetometer\",\"IMU_Thermometer\",\"IMU_Gyroscope\"],\"show\":[\"IMU_Accelerometer\"]}};\n    return msg;\n}\nif (msg.payload == \"mag\" ) {\n     msg.payload = {\"group\":{\"hide\":[\"IMU_Gyroscope\",\"IMU_Thermometer\",\"IMU_Accelerometer\"],\"show\":[\"IMU_Magnetometer\"]}};\n    return msg;\n}\nif (msg.payload == \"temp\" ) {\n    msg.payload = {\"group\":{\"hide\":[\"IMU_Gyroscope\",\"IMU_Magnetometer\",\"IMU_Accelerometer\"],\"show\":[\"IMU_Thermometer\"]}};\n    return msg;\n}\n\nreturn null;\n\n","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["f744dc2b.ce254"]]},{"id":"f744dc2b.ce254","type":"ui_ui_control","z":"292ab828.018248","name":"","events":"connect","x":420,"y":120,"wires":[[]]},{"id":"193f2d13.6f0e73","type":"function","z":"292ab828.018248","name":"","func":"if (msg.topic == 1 ) {\n    msg.payload = {\"group\":{\"hide\":[\"IMU_Stream\"],\"show\":[\"IMU_Sample\"]}};\n    return msg;\n}\n\nif (msg.payload == \"3\" ) {\n    msg.payload = {\"group\":{\"hide\":[\"IMU_Sample\"],\"show\":[\"IMU_Stream\"]}};\n    return msg;\n}\n\nreturn null;\n\n","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["7f65486b.a17b58"]]},{"id":"7f65486b.a17b58","type":"ui_ui_control","z":"292ab828.018248","name":"","events":"connect","x":540,"y":240,"wires":[[]]},{"id":"2866b232.a48bce","type":"ui_button","z":"292ab828.018248","name":"","group":"3b87547c.f7b8ac","order":5,"width":5,"height":1,"passthru":false,"label":"Sample","tooltip":"","color":"","bgcolor":"","icon":"","payload":"=342(sample ","payloadType":"str","topic":"1","x":160,"y":220,"wires":[["193f2d13.6f0e73","49f55566.81e29c"]]},{"id":"6f7e8a5c.097f24","type":"ui_button","z":"292ab828.018248","name":"","group":"3b87547c.f7b8ac","order":6,"width":5,"height":1,"passthru":false,"label":"Stream (Optional)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":190,"y":260,"wires":[["193f2d13.6f0e73"]]},{"id":"1fab3a2e.afe1c6","type":"ui_text","z":"292ab828.018248","group":"d4e8ca7d.893ce8","order":1,"width":4,"height":1,"name":"","label":"x","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":500,"wires":[]},{"id":"e98a67d2.dba768","type":"function","z":"292ab828.018248","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)+\" DPS\"\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":500,"wires":[["1fab3a2e.afe1c6"]]},{"id":"90cd4c9e.309bd","type":"ui_chartst","z":"292ab828.018248","group":"d4e8ca7d.893ce8","name":"Gyroscope","order":4,"width":12,"height":8,"chartType":"line","curveType":"linear","duration":"10","ymin":"","ymax":"","x":390,"y":620,"wires":[]},{"id":"c20a4a1c.71c628","type":"ui_chartst","z":"292ab828.018248","group":"9a880309.05e5d","name":"Magnetometer","order":4,"width":12,"height":8,"chartType":"line","curveType":"linear","duration":"10","ymin":"","ymax":"","x":400,"y":780,"wires":[]},{"id":"43559c7e.4860e4","type":"ui_chartst","z":"292ab828.018248","group":"313e92ff.8bba9e","name":"Thermometer","order":2,"width":12,"height":8,"chartType":"line","curveType":"linear","duration":"10","ymin":"","ymax":"","x":400,"y":860,"wires":[]},{"id":"e8e196ff.161358","type":"ui_chartst","z":"292ab828.018248","group":"3eda3eec.fdb1e2","name":"Accelerometer","order":4,"width":12,"height":8,"chartType":"line","curveType":"linear","duration":"10","ymin":"","ymax":"","x":400,"y":700,"wires":[]},{"id":"4c2163c1.eea83c","type":"ui_button","z":"292ab828.018248","name":"","group":"d4e8ca7d.893ce8","order":5,"width":0,"height":0,"passthru":false,"label":"CLEAR GRAPH","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"clear","x":380,"y":580,"wires":[["90cd4c9e.309bd"]]},{"id":"c28c5752.b2a6d8","type":"ui_button","z":"292ab828.018248","name":"","group":"3eda3eec.fdb1e2","order":5,"width":0,"height":0,"passthru":false,"label":"CLEAR GRAPH","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"clear","x":380,"y":660,"wires":[["e8e196ff.161358"]]},{"id":"2ca0748d.418f5c","type":"ui_button","z":"292ab828.018248","name":"","group":"9a880309.05e5d","order":5,"width":0,"height":0,"passthru":false,"label":"CLEAR GRAPH","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"clear","x":380,"y":740,"wires":[["c20a4a1c.71c628"]]},{"id":"9d6a24e6.ef7618","type":"ui_button","z":"292ab828.018248","name":"","group":"313e92ff.8bba9e","order":3,"width":0,"height":0,"passthru":false,"label":"CLEAR GRAPH","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"clear","x":380,"y":820,"wires":[["43559c7e.4860e4"]]},{"id":"c4466c67.ac7e4","type":"switch","z":"292ab828.018248","name":"Gyro","property":"payload.variablename","propertyType":"msg","rules":[{"t":"eq","v":"xGyro","vt":"str"},{"t":"eq","v":"yGyro","vt":"str"},{"t":"eq","v":"zGyro","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":170,"y":580,"wires":[["90cd4c9e.309bd"],["90cd4c9e.309bd"],["90cd4c9e.309bd"]]},{"id":"fd1b05fc.b80228","type":"variables","z":"292ab828.018248","groupname":"IMU Read","accesspoint":0,"execonfig":"39650d3.67cfef2","variablelist":[{"name":"temperature","address":"0x20000014","type":"9"},{"name":"xAcc","address":"0x20000024","type":"9"},{"name":"xGyro","address":"0x20000018","type":"9"},{"name":"xMag","address":"0x20000008","type":"6"},{"name":"yAcc","address":"0x20000028","type":"9"},{"name":"yGyro","address":"0x2000001c","type":"9"},{"name":"yMag","address":"0x2000001c","type":"6"},{"name":"zAcc","address":"0x2000002c","type":"9"},{"name":"zGyro","address":"0x20000020","type":"9"},{"name":"zMag","address":"0x20000010","type":"6"}],"triggerstartmode":"manual","triggername":"xAcc","triggerthreshold":"30000","frequency":"","frequencyType":"0","snapshotheader":"","mode":"direct","lastImportedTime":1633037616973,"openStatus":false,"x":340,"y":40,"wires":[["52f1051e.4e1d1c"]]},{"id":"7c513b25.ac8f14","type":"switch","z":"292ab828.018248","name":"Acc","property":"payload.variablename","propertyType":"msg","rules":[{"t":"eq","v":"xAcc","vt":"str"},{"t":"eq","v":"yAcc","vt":"str"},{"t":"eq","v":"zAcc","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":170,"y":640,"wires":[["e8e196ff.161358"],["e8e196ff.161358"],["e8e196ff.161358"]]},{"id":"cc755d0b.7fbdb","type":"switch","z":"292ab828.018248","name":"Mag","property":"payload.variablename","propertyType":"msg","rules":[{"t":"eq","v":"xMag","vt":"str"},{"t":"eq","v":"yMag","vt":"str"},{"t":"eq","v":"zMag","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":170,"y":700,"wires":[["c20a4a1c.71c628"],["c20a4a1c.71c628"],["c20a4a1c.71c628"]]},{"id":"5a847fd5.e5ff3","type":"switch","z":"292ab828.018248","name":"Tempreture","property":"payload.variablename","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":760,"wires":[["43559c7e.4860e4"]]},{"id":"f90914ff.6ab218","type":"subflow:8381c865.236028","z":"292ab828.018248","name":"myFilter","env":[{"name":"varfilter","value":"xGyro","type":"str"}],"x":640,"y":500,"wires":[["e98a67d2.dba768"]]},{"id":"f9fbf34b.de0fc","type":"subflow:8381c865.236028","z":"292ab828.018248","name":"myFilter","env":[{"name":"varfilter","value":"yGyro","type":"str"}],"x":640,"y":540,"wires":[["ba930e37.9320e"]]},{"id":"98bebd30.fff6c","type":"subflow:8381c865.236028","z":"292ab828.018248","name":"myFilter","env":[{"name":"varfilter","value":"zGyro","type":"str"}],"x":640,"y":580,"wires":[["e69d9a94.b3deb8"]]},{"id":"41a1e982.78ffb8","type":"change","z":"292ab828.018248","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"40","fromt":"num","to":"13","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"41","fromt":"num","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":160,"wires":[["52c47057.31081"]]},{"id":"52c47057.31081","type":"delay","z":"292ab828.018248","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.001","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":890,"y":160,"wires":[["e3e46270.dc7fe"]]},{"id":"f049b54a.9106c8","type":"function","z":"292ab828.018248","name":"","func":"var s=\"#3\"+msg.payload+\"()\";\nlet y= function(str){\n    return [...str]\n}\nmsg.payload=y(s);\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["bbcb1229.74d37"]]},{"id":"49f55566.81e29c","type":"function","z":"292ab828.018248","name":"","func":"var s=msg.payload;\nlet y= function(str){\n    return [...str]\n}\nmsg.payload=y(s);\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["bbcb1229.74d37"]]},{"id":"66630a49.06b164","type":"ui_button","z":"292ab828.018248","name":"","group":"3b87547c.f7b8ac","order":1,"width":10,"height":1,"passthru":false,"label":"START","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":160,"y":460,"wires":[["9bd37823.8df208"]]},{"id":"bfa34804.f8eaf8","type":"ui_text","z":"292ab828.018248","group":"9a880309.05e5d","order":1,"width":4,"height":1,"name":"","label":"x","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":820,"wires":[]},{"id":"859b907f.33f6b","type":"ui_text","z":"292ab828.018248","group":"9a880309.05e5d","order":2,"width":4,"height":1,"name":"","label":"y","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":860,"wires":[]},{"id":"7c67288d.437468","type":"ui_text","z":"292ab828.018248","group":"9a880309.05e5d","order":3,"width":4,"height":1,"name":"","label":"z","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":900,"wires":[]},{"id":"24d90ace.b92fc6","type":"ui_text","z":"292ab828.018248","group":"3eda3eec.fdb1e2","order":2,"width":4,"height":1,"name":"","label":"y","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":700,"wires":[]},{"id":"579c9818.22d748","type":"ui_text","z":"292ab828.018248","group":"3eda3eec.fdb1e2","order":3,"width":4,"height":1,"name":"","label":"z","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":740,"wires":[]},{"id":"d7e4f538.c65a98","type":"ui_text","z":"292ab828.018248","group":"3eda3eec.fdb1e2","order":1,"width":4,"height":1,"name":"","label":"x","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":660,"wires":[]},{"id":"b1153db1.e5a68","type":"function","z":"292ab828.018248","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)+\" G\"\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":700,"wires":[["24d90ace.b92fc6"]]},{"id":"6b110e68.6ca16","type":"function","z":"292ab828.018248","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)+\" G\"\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":740,"wires":[["579c9818.22d748"]]},{"id":"e04ac874.bce2a8","type":"function","z":"292ab828.018248","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)+\" G\"\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":660,"wires":[["d7e4f538.c65a98"]]},{"id":"dd95f4ad.bf5858","type":"function","z":"292ab828.018248","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)+\" MGuass\"\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":860,"wires":[["859b907f.33f6b"]]},{"id":"81d2fd78.99ebf","type":"function","z":"292ab828.018248","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)+\" MGuass\"\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":900,"wires":[["7c67288d.437468"]]},{"id":"8583a5b4.038118","type":"function","z":"292ab828.018248","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)+\" MGuass\"\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":820,"wires":[["bfa34804.f8eaf8"]]},{"id":"ee10ca58.076a48","type":"subflow:8381c865.236028","z":"292ab828.018248","name":"myFilter","env":[{"name":"varfilter","value":"xAcc","type":"str"}],"x":640,"y":660,"wires":[["e04ac874.bce2a8"]]},{"id":"3e98eef4.703902","type":"subflow:8381c865.236028","z":"292ab828.018248","name":"myFilter","env":[{"name":"varfilter","value":"yAcc","type":"str"}],"x":640,"y":700,"wires":[["b1153db1.e5a68"]]},{"id":"9acffb3.3fb9b08","type":"subflow:8381c865.236028","z":"292ab828.018248","name":"myFilter","env":[{"name":"varfilter","value":"zAcc","type":"str"}],"x":640,"y":740,"wires":[["6b110e68.6ca16"]]},{"id":"405b38ef.9e0928","type":"subflow:8381c865.236028","z":"292ab828.018248","name":"myFilter","env":[{"name":"varfilter","value":"xMag","type":"str"}],"x":640,"y":820,"wires":[["8583a5b4.038118"]]},{"id":"47c2681d.2354e8","type":"subflow:8381c865.236028","z":"292ab828.018248","name":"myFilter","env":[{"name":"varfilter","value":"yMag","type":"str"}],"x":640,"y":860,"wires":[["dd95f4ad.bf5858"]]},{"id":"22006c4c.107e54","type":"subflow:8381c865.236028","z":"292ab828.018248","name":"myFilter","env":[{"name":"varfilter","value":"zMag","type":"str"}],"x":640,"y":900,"wires":[["81d2fd78.99ebf"]]},{"id":"d9a6039e.00014","type":"probe","z":"","probeid":"066CFF495051717867163114","probename":"ST-Link v2-1B (...63114)","protocol":"SWD","frequency":"1.8 MHz - Default","probeproperty":"{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}","probeversion":"ST Link firmware version V2.J37","connectionType":"p2p"},{"id":"d4e8ca7d.893ce8","type":"ui_group","z":"","name":"Gyroscope","tab":"8e2fcd73.f54b2","order":1,"disp":true,"width":"12","collapse":false},{"id":"3b87547c.f7b8ac","type":"ui_group","z":"","name":"IMU","tab":"8e2fcd73.f54b2","order":5,"disp":true,"width":10,"collapse":false},{"id":"313e92ff.8bba9e","type":"ui_group","z":"","name":"Thermometer","tab":"8e2fcd73.f54b2","order":4,"disp":true,"width":"12","collapse":false},{"id":"23b8812c.48752e","type":"ui_group","z":"","name":"Stream","tab":"8e2fcd73.f54b2","order":7,"disp":true,"width":10,"collapse":false},{"id":"9f58fe1.e3b0e","type":"ui_group","z":"","name":"Sample","tab":"8e2fcd73.f54b2","order":6,"disp":true,"width":10,"collapse":false},{"id":"9a880309.05e5d","type":"ui_group","z":"","name":"Magnetometer","tab":"8e2fcd73.f54b2","order":3,"disp":true,"width":"12","collapse":false},{"id":"3eda3eec.fdb1e2","type":"ui_group","z":"","name":"Accelerometer","tab":"8e2fcd73.f54b2","order":2,"disp":true,"width":"12","collapse":false},{"id":"39650d3.67cfef2","type":"exe-config","z":"","name":"IMU","exefile":"C:\\Users\\ASIA STORE\\Desktop\\ll\\H0BR4x\\STM32CubeIDE\\H0BR4x\\H0BR4.elf","exefolder":"C:\\Users\\ASIA STORE\\Desktop\\ll\\H0BR4x\\STM32CubeIDE\\H0BR4x","exevariablelist":[{"address":"0x0801a5c0","name":"aAPBAHBPrescTable[0]","type":1},{"address":"0x200017a4","name":"acceptedMsg","type":3},{"address":"0x20001235","name":"ACK_FLAG","type":1},{"address":"0x0801a040","name":"actSnipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a034","name":"actSnipCommandDefinition.pcCommand","type":5},{"address":"0x0801a038","name":"actSnipCommandDefinition.pcHelpString","type":5},{"address":"0x0801a03c","name":"actSnipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x2000174c","name":"ADC_flag","type":1},{"address":"0x2000175c","name":"ADC_value_temp","type":3},{"address":"0x2000175e","name":"ADC_value_Vref","type":3},{"address":"0x20001770","name":"ADCchannelvalue[0]","type":3},{"address":"0x20001864","name":"ADCPercentage","type":9},{"address":"0x20001854","name":"ADCPort","type":3},{"address":"0x0801a0a0","name":"ADCReadCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a094","name":"ADCReadCommandDefinition.pcCommand","type":5},{"address":"0x0801a098","name":"ADCReadCommandDefinition.pcHelpString","type":5},{"address":"0x0801a09c","name":"ADCReadCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001856","name":"ADCSide","type":3},{"address":"0x20001858","name":"ADCValue","type":9},{"address":"0x20001200","name":"AddBcastPayload","type":1},{"address":"0x08019f80","name":"addbuttonCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019f74","name":"addbuttonCommandDefinition.pcCommand","type":5},{"address":"0x08019f78","name":"addbuttonCommandDefinition.pcHelpString","type":5},{"address":"0x08019f7c","name":"addbuttonCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000158","name":"AHBPrescTable[0]","type":1},{"address":"0x2000717c","name":"arrayPortsDir[0]","type":3},{"address":"0x200015cc","name":"BackEndTaskHandle","type":5},{"address":"0x20000d00","name":"bcastID","type":1},{"address":"0x20000c24","name":"bcastRoutes[0]","type":3},{"address":"0x08019f00","name":"bootloaderUpdateCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019ef4","name":"bootloaderUpdateCommandDefinition.pcCommand","type":5},{"address":"0x08019ef8","name":"bootloaderUpdateCommandDefinition.pcHelpString","type":5},{"address":"0x08019efc","name":"bootloaderUpdateCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001dcc","name":"bootStatus","type":1},{"address":"0x20006cb4","name":"BOS.buttons.debounce","type":3},{"address":"0x20006cb9","name":"BOS.buttons.maxInterClickTime","type":1},{"address":"0x20006cb8","name":"BOS.buttons.minInterClickTime","type":1},{"address":"0x20006cb6","name":"BOS.buttons.singleClickTime","type":3},{"address":"0x20006cbc","name":"BOS.clibaudrate","type":5},{"address":"0x20006cc9","name":"BOS.date.day","type":1},{"address":"0x20006cca","name":"BOS.date.month","type":1},{"address":"0x20006cc8","name":"BOS.date.weekday","type":1},{"address":"0x20006ccc","name":"BOS.date.year","type":3},{"address":"0x20006cc0","name":"BOS.daylightsaving","type":1},{"address":"0x20006cce","name":"BOS.disableCLI","type":1},{"address":"0x20006cc1","name":"BOS.hourformat","type":1},{"address":"0x20006cc7","name":"BOS.time.ampm","type":1},{"address":"0x20006cc6","name":"BOS.time.hours","type":1},{"address":"0x20006cc5","name":"BOS.time.minutes","type":1},{"address":"0x20006cc2","name":"BOS.time.msec","type":3},{"address":"0x20006cc4","name":"BOS.time.seconds","type":1},{"address":"0x2000003c","name":"BOS_default.buttons.debounce","type":3},{"address":"0x20000041","name":"BOS_default.buttons.maxInterClickTime","type":1},{"address":"0x20000040","name":"BOS_default.buttons.minInterClickTime","type":1},{"address":"0x2000003e","name":"BOS_default.buttons.singleClickTime","type":3},{"address":"0x20000044","name":"BOS_default.clibaudrate","type":5},{"address":"0x20000051","name":"BOS_default.date.day","type":1},{"address":"0x20000052","name":"BOS_default.date.month","type":1},{"address":"0x20000050","name":"BOS_default.date.weekday","type":1},{"address":"0x20000054","name":"BOS_default.date.year","type":3},{"address":"0x20000048","name":"BOS_default.daylightsaving","type":1},{"address":"0x20000056","name":"BOS_default.disableCLI","type":1},{"address":"0x20000049","name":"BOS_default.hourformat","type":1},{"address":"0x2000004f","name":"BOS_default.time.ampm","type":1},{"address":"0x2000004e","name":"BOS_default.time.hours","type":1},{"address":"0x2000004d","name":"BOS_default.time.minutes","type":1},{"address":"0x2000004a","name":"BOS_default.time.msec","type":3},{"address":"0x2000004c","name":"BOS_default.time.seconds","type":1},{"address":"0x20000cf5","name":"BOS_initialized","type":1},{"address":"0x20006c3c","name":"BOS_var_reg[0]","type":5},{"address":"0x20006c38","name":"BOSMessaging.Acknowledgment","type":1},{"address":"0x20006c36","name":"BOSMessaging.overrun","type":1},{"address":"0x20006c37","name":"BOSMessaging.received_Acknowledgment","type":1},{"address":"0x20006c34","name":"BOSMessaging.response","type":1},{"address":"0x20006c35","name":"BOSMessaging.trace","type":2},{"address":"0x20006c3a","name":"BOSMessaging.trial","type":4},{"address":"0x20000038","name":"BOSMessging_default.Acknowledgment","type":1},{"address":"0x20000036","name":"BOSMessging_default.overrun","type":1},{"address":"0x20000037","name":"BOSMessging_default.received_Acknowledgment","type":1},{"address":"0x20000034","name":"BOSMessging_default.response","type":1},{"address":"0x20000035","name":"BOSMessging_default.trace","type":2},{"address":"0x2000003a","name":"BOSMessging_default.trial","type":4},{"address":"0x0801a070","name":"bridgeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a064","name":"bridgeCommandDefinition.pcCommand","type":5},{"address":"0x0801a068","name":"bridgeCommandDefinition.pcHelpString","type":5},{"address":"0x0801a06c","name":"bridgeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000e98","name":"broadcastResponse[0]","type":1},{"address":"0x200016dc","name":"button[0].events","type":1},{"address":"0x200016d6","name":"button[0].pressedX1Sec","type":1},{"address":"0x200016d7","name":"button[0].pressedX2Sec","type":1},{"address":"0x200016d8","name":"button[0].pressedX3Sec","type":1},{"address":"0x200016d9","name":"button[0].releasedY1Sec","type":1},{"address":"0x200016da","name":"button[0].releasedY2Sec","type":1},{"address":"0x200016db","name":"button[0].releasedY3Sec","type":1},{"address":"0x200016d4","name":"button[0].state","type":1},{"address":"0x200016d5","name":"button[0].type","type":1},{"address":"0x20001760","name":"Channel","type":1},{"address":"0x20000bf2","name":"CLI_LOW_Baudrate_Flag","type":1},{"address":"0x20006d56","name":"counter","type":1},{"address":"0x20001de0","name":"cOutputBuffer[0]","type":2},{"address":"0x2000140c","name":"crcBuffer[0]","type":1},{"address":"0x20000d05","name":"cRxedChar","type":2},{"address":"0x20001768","name":"current","type":9},{"address":"0x20000005","name":"currentCharacter","type":1,"checked":false},{"address":"0x200015c4","name":"DataVar","type":3},{"address":"0x08019fe0","name":"dateCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019fd4","name":"dateCommandDefinition.pcCommand","type":5},{"address":"0x08019fd8","name":"dateCommandDefinition.pcHelpString","type":5},{"address":"0x08019fdc","name":"dateCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x2000177c","name":"dblCounter[0]","type":1},{"address":"0x08019fc0","name":"defaultCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019fb4","name":"defaultCommandDefinition.pcCommand","type":5},{"address":"0x08019fb8","name":"defaultCommandDefinition.pcHelpString","type":5},{"address":"0x08019fbc","name":"defaultCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200015c8","name":"defaultTaskHandle","type":5},{"address":"0x20001778","name":"delayButtonStateReset","type":1},{"address":"0x0801a060","name":"delSnipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a054","name":"delSnipCommandDefinition.pcCommand","type":5},{"address":"0x0801a058","name":"delSnipCommandDefinition.pcHelpString","type":5},{"address":"0x0801a05c","name":"delSnipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20006d77","name":"desiredArray","type":1},{"address":"0x20006d76","name":"digitTheCommand","type":1},{"address":"0x200013b4","name":"dmaStreamCount[0]","type":5},{"address":"0x200013e4","name":"dmaStreamDst[0]","type":5},{"address":"0x200013cc","name":"dmaStreamTotal[0]","type":5},{"address":"0x20000078","name":"dstGroupID","type":1},{"address":"0x08019f10","name":"exploreCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019f04","name":"exploreCommandDefinition.pcCommand","type":5},{"address":"0x08019f08","name":"exploreCommandDefinition.pcHelpString","type":5},{"address":"0x08019f0c","name":"exploreCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001690","name":"finalMatrix[0]","type":1},{"address":"0x20006d78","name":"finalMatrixIndex","type":1},{"address":"0x20000004","name":"flag","type":1,"checked":false},{"address":"0x0801a020","name":"flashsizeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a014","name":"flashsizeCommandDefinition.pcCommand","type":5},{"address":"0x0801a018","name":"flashsizeCommandDefinition.pcHelpString","type":5},{"address":"0x0801a01c","name":"flashsizeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001a10","name":"frontendDMA[0].ErrorCode","type":5},{"address":"0x200019e0","name":"frontendDMA[0].Init.Direction","type":5},{"address":"0x200019f0","name":"frontendDMA[0].Init.MemDataAlignment","type":5},{"address":"0x200019e8","name":"frontendDMA[0].Init.MemInc","type":5},{"address":"0x200019f4","name":"frontendDMA[0].Init.Mode","type":5},{"address":"0x200019ec","name":"frontendDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x200019e4","name":"frontendDMA[0].Init.PeriphInc","type":5},{"address":"0x200019f8","name":"frontendDMA[0].Init.Priority","type":5},{"address":"0x200019dc","name":"frontendDMA[0].Instance","type":5},{"address":"0x200019fc","name":"frontendDMA[0].Lock","type":2},{"address":"0x20001a00","name":"frontendDMA[0].Parent","type":5},{"address":"0x200019fd","name":"frontendDMA[0].State","type":2},{"address":"0x20001a04","name":"frontendDMA[0].XferCpltCallback","type":5},{"address":"0x20001a0c","name":"frontendDMA[0].XferErrorCallback","type":5},{"address":"0x20001a08","name":"frontendDMA[0].XferHalfCpltCallback","type":5},{"address":"0x08019fb0","name":"getCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019fa4","name":"getCommandDefinition.pcCommand","type":5},{"address":"0x08019fa8","name":"getCommandDefinition.pcHelpString","type":5},{"address":"0x08019fac","name":"getCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x0801a0d0","name":"GetReadPercentageDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a0c4","name":"GetReadPercentageDefinition.pcCommand","type":5},{"address":"0x0801a0c8","name":"GetReadPercentageDefinition.pcHelpString","type":5},{"address":"0x0801a0cc","name":"GetReadPercentageDefinition.pxCommandInterpreter","type":5},{"address":"0x08019f40","name":"groupCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019f34","name":"groupCommandDefinition.pcCommand","type":5},{"address":"0x08019f38","name":"groupCommandDefinition.pcHelpString","type":5},{"address":"0x08019f3c","name":"groupCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000b54","name":"groupModules[0]","type":3},{"address":"0x200019cc","name":"H0BR4_accX","type":9},{"address":"0x200019c8","name":"H0BR4_accY","type":9},{"address":"0x200019c4","name":"H0BR4_accZ","type":9},{"address":"0x200019d8","name":"H0BR4_gyroX","type":9},{"address":"0x200019d4","name":"H0BR4_gyroY","type":9},{"address":"0x200019d0","name":"H0BR4_gyroZ","type":9},{"address":"0x200019c0","name":"H0BR4_magX","type":6},{"address":"0x200019bc","name":"H0BR4_magY","type":6},{"address":"0x200019b8","name":"H0BR4_magZ","type":6},{"address":"0x200019b4","name":"H0BR4_temp","type":9},{"address":"0x20006db8","name":"hadc.DMA_Handle","type":5},{"address":"0x20006dc4","name":"hadc.ErrorCode","type":5},{"address":"0x20006d80","name":"hadc.Init.ClockPrescaler","type":5},{"address":"0x20006d9c","name":"hadc.Init.ContinuousConvMode","type":5},{"address":"0x20006d88","name":"hadc.Init.DataAlign","type":5},{"address":"0x20006da0","name":"hadc.Init.DiscontinuousConvMode","type":5},{"address":"0x20006dac","name":"hadc.Init.DMAContinuousRequests","type":5},{"address":"0x20006d90","name":"hadc.Init.EOCSelection","type":5},{"address":"0x20006da4","name":"hadc.Init.ExternalTrigConv","type":5},{"address":"0x20006da8","name":"hadc.Init.ExternalTrigConvEdge","type":5},{"address":"0x20006d98","name":"hadc.Init.LowPowerAutoPowerOff","type":5},{"address":"0x20006d94","name":"hadc.Init.LowPowerAutoWait","type":5},{"address":"0x20006db0","name":"hadc.Init.Overrun","type":5},{"address":"0x20006d84","name":"hadc.Init.Resolution","type":5},{"address":"0x20006db4","name":"hadc.Init.SamplingTimeCommon","type":5},{"address":"0x20006d8c","name":"hadc.Init.ScanConvMode","type":5},{"address":"0x20006d7c","name":"hadc.Instance","type":5},{"address":"0x20006dbc","name":"hadc.Lock","type":2},{"address":"0x20006dc0","name":"hadc.State","type":5},{"address":"0x20007090","name":"hcrc.Init.CRCLength","type":5},{"address":"0x20007089","name":"hcrc.Init.DefaultInitValueUse","type":1},{"address":"0x20007088","name":"hcrc.Init.DefaultPolynomialUse","type":1},{"address":"0x2000708c","name":"hcrc.Init.GeneratingPolynomial","type":5},{"address":"0x20007094","name":"hcrc.Init.InitValue","type":5},{"address":"0x20007098","name":"hcrc.Init.InputDataInversionMode","type":5},{"address":"0x2000709c","name":"hcrc.Init.OutputDataInversionMode","type":5},{"address":"0x200070a4","name":"hcrc.InputDataFormat","type":5},{"address":"0x20007084","name":"hcrc.Instance","type":5},{"address":"0x200070a0","name":"hcrc.Lock","type":2},{"address":"0x200070a1","name":"hcrc.State","type":2},{"address":"0x200070e0","name":"hi2c2.ErrorCode","type":5},{"address":"0x200070d8","name":"hi2c2.hdmarx","type":5},{"address":"0x200070d4","name":"hi2c2.hdmatx","type":5},{"address":"0x200070b4","name":"hi2c2.Init.AddressingMode","type":5},{"address":"0x200070b8","name":"hi2c2.Init.DualAddressMode","type":5},{"address":"0x200070c4","name":"hi2c2.Init.GeneralCallMode","type":5},{"address":"0x200070c8","name":"hi2c2.Init.NoStretchMode","type":5},{"address":"0x200070b0","name":"hi2c2.Init.OwnAddress1","type":5},{"address":"0x200070bc","name":"hi2c2.Init.OwnAddress2","type":5},{"address":"0x200070c0","name":"hi2c2.Init.OwnAddress2Masks","type":5},{"address":"0x200070ac","name":"hi2c2.Init.Timing","type":5},{"address":"0x200070a8","name":"hi2c2.Instance","type":5},{"address":"0x200070dc","name":"hi2c2.Lock","type":2},{"address":"0x200070cc","name":"hi2c2.pBuffPtr","type":5},{"address":"0x200070dd","name":"hi2c2.State","type":2},{"address":"0x200070d2","name":"hi2c2.XferCount","type":3},{"address":"0x200070d0","name":"hi2c2.XferSize","type":3},{"address":"0x20007158","name":"htim14.Channel","type":2},{"address":"0x2000715c","name":"htim14.hdma[0]","type":5},{"address":"0x20007150","name":"htim14.Init.ClockDivision","type":5},{"address":"0x20007148","name":"htim14.Init.CounterMode","type":5},{"address":"0x2000714c","name":"htim14.Init.Period","type":5},{"address":"0x20007144","name":"htim14.Init.Prescaler","type":5},{"address":"0x20007154","name":"htim14.Init.RepetitionCounter","type":5},{"address":"0x20007140","name":"htim14.Instance","type":5},{"address":"0x20007178","name":"htim14.Lock","type":2},{"address":"0x20007179","name":"htim14.State","type":2},{"address":"0x2000711c","name":"htim15.Channel","type":2},{"address":"0x20007120","name":"htim15.hdma[0]","type":5},{"address":"0x20007114","name":"htim15.Init.ClockDivision","type":5},{"address":"0x2000710c","name":"htim15.Init.CounterMode","type":5},{"address":"0x20007110","name":"htim15.Init.Period","type":5},{"address":"0x20007108","name":"htim15.Init.Prescaler","type":5},{"address":"0x20007118","name":"htim15.Init.RepetitionCounter","type":5},{"address":"0x20007104","name":"htim15.Instance","type":5},{"address":"0x2000713c","name":"htim15.Lock","type":2},{"address":"0x2000713d","name":"htim15.State","type":2},{"address":"0x20006ee8","name":"huart1.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x20006f04","name":"huart1.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x20006f08","name":"huart1.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20006ef4","name":"huart1.AdvancedInit.DataInvert","type":5},{"address":"0x20006f00","name":"huart1.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x20006f0c","name":"huart1.AdvancedInit.MSBFirst","type":5},{"address":"0x20006efc","name":"huart1.AdvancedInit.OverrunDisable","type":5},{"address":"0x20006ef0","name":"huart1.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x20006ef8","name":"huart1.AdvancedInit.Swap","type":5},{"address":"0x20006eec","name":"huart1.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20006f30","name":"huart1.ErrorCode","type":5},{"address":"0x20006f28","name":"huart1.hdmarx","type":5},{"address":"0x20006f24","name":"huart1.hdmatx","type":5},{"address":"0x20006ec8","name":"huart1.Init.BaudRate","type":5},{"address":"0x20006edc","name":"huart1.Init.HwFlowCtl","type":5},{"address":"0x20006ed8","name":"huart1.Init.Mode","type":5},{"address":"0x20006ee4","name":"huart1.Init.OneBitSampling","type":5},{"address":"0x20006ee0","name":"huart1.Init.OverSampling","type":5},{"address":"0x20006ed4","name":"huart1.Init.Parity","type":5},{"address":"0x20006ed0","name":"huart1.Init.StopBits","type":5},{"address":"0x20006ecc","name":"huart1.Init.WordLength","type":5},{"address":"0x20006ec4","name":"huart1.Instance","type":5},{"address":"0x20006f2c","name":"huart1.Lock","type":2},{"address":"0x20006f20","name":"huart1.Mask","type":3},{"address":"0x20006f18","name":"huart1.pRxBuffPtr","type":5},{"address":"0x20006f10","name":"huart1.pTxBuffPtr","type":5},{"address":"0x20006f1e","name":"huart1.RxXferCount","type":3},{"address":"0x20006f1c","name":"huart1.RxXferSize","type":3},{"address":"0x20006f2d","name":"huart1.State","type":2},{"address":"0x20006f16","name":"huart1.TxXferCount","type":3},{"address":"0x20006f14","name":"huart1.TxXferSize","type":3},{"address":"0x20007038","name":"huart2.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x20007054","name":"huart2.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x20007058","name":"huart2.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20007044","name":"huart2.AdvancedInit.DataInvert","type":5},{"address":"0x20007050","name":"huart2.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x2000705c","name":"huart2.AdvancedInit.MSBFirst","type":5},{"address":"0x2000704c","name":"huart2.AdvancedInit.OverrunDisable","type":5},{"address":"0x20007040","name":"huart2.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x20007048","name":"huart2.AdvancedInit.Swap","type":5},{"address":"0x2000703c","name":"huart2.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20007080","name":"huart2.ErrorCode","type":5},{"address":"0x20007078","name":"huart2.hdmarx","type":5},{"address":"0x20007074","name":"huart2.hdmatx","type":5},{"address":"0x20007018","name":"huart2.Init.BaudRate","type":5},{"address":"0x2000702c","name":"huart2.Init.HwFlowCtl","type":5},{"address":"0x20007028","name":"huart2.Init.Mode","type":5},{"address":"0x20007034","name":"huart2.Init.OneBitSampling","type":5},{"address":"0x20007030","name":"huart2.Init.OverSampling","type":5},{"address":"0x20007024","name":"huart2.Init.Parity","type":5},{"address":"0x20007020","name":"huart2.Init.StopBits","type":5},{"address":"0x2000701c","name":"huart2.Init.WordLength","type":5},{"address":"0x20007014","name":"huart2.Instance","type":5},{"address":"0x2000707c","name":"huart2.Lock","type":2},{"address":"0x20007070","name":"huart2.Mask","type":3},{"address":"0x20007068","name":"huart2.pRxBuffPtr","type":5},{"address":"0x20007060","name":"huart2.pTxBuffPtr","type":5},{"address":"0x2000706e","name":"huart2.RxXferCount","type":3},{"address":"0x2000706c","name":"huart2.RxXferSize","type":3},{"address":"0x2000707d","name":"huart2.State","type":2},{"address":"0x20007066","name":"huart2.TxXferCount","type":3},{"address":"0x20007064","name":"huart2.TxXferSize","type":3},{"address":"0x20006e08","name":"huart3.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x20006e24","name":"huart3.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x20006e28","name":"huart3.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20006e14","name":"huart3.AdvancedInit.DataInvert","type":5},{"address":"0x20006e20","name":"huart3.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x20006e2c","name":"huart3.AdvancedInit.MSBFirst","type":5},{"address":"0x20006e1c","name":"huart3.AdvancedInit.OverrunDisable","type":5},{"address":"0x20006e10","name":"huart3.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x20006e18","name":"huart3.AdvancedInit.Swap","type":5},{"address":"0x20006e0c","name":"huart3.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20006e50","name":"huart3.ErrorCode","type":5},{"address":"0x20006e48","name":"huart3.hdmarx","type":5},{"address":"0x20006e44","name":"huart3.hdmatx","type":5},{"address":"0x20006de8","name":"huart3.Init.BaudRate","type":5},{"address":"0x20006dfc","name":"huart3.Init.HwFlowCtl","type":5},{"address":"0x20006df8","name":"huart3.Init.Mode","type":5},{"address":"0x20006e04","name":"huart3.Init.OneBitSampling","type":5},{"address":"0x20006e00","name":"huart3.Init.OverSampling","type":5},{"address":"0x20006df4","name":"huart3.Init.Parity","type":5},{"address":"0x20006df0","name":"huart3.Init.StopBits","type":5},{"address":"0x20006dec","name":"huart3.Init.WordLength","type":5},{"address":"0x20006de4","name":"huart3.Instance","type":5},{"address":"0x20006e4c","name":"huart3.Lock","type":2},{"address":"0x20006e40","name":"huart3.Mask","type":3},{"address":"0x20006e38","name":"huart3.pRxBuffPtr","type":5},{"address":"0x20006e30","name":"huart3.pTxBuffPtr","type":5},{"address":"0x20006e3e","name":"huart3.RxXferCount","type":3},{"address":"0x20006e3c","name":"huart3.RxXferSize","type":3},{"address":"0x20006e4d","name":"huart3.State","type":2},{"address":"0x20006e36","name":"huart3.TxXferCount","type":3},{"address":"0x20006e34","name":"huart3.TxXferSize","type":3},{"address":"0x20006fc8","name":"huart4.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x20006fe4","name":"huart4.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x20006fe8","name":"huart4.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20006fd4","name":"huart4.AdvancedInit.DataInvert","type":5},{"address":"0x20006fe0","name":"huart4.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x20006fec","name":"huart4.AdvancedInit.MSBFirst","type":5},{"address":"0x20006fdc","name":"huart4.AdvancedInit.OverrunDisable","type":5},{"address":"0x20006fd0","name":"huart4.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x20006fd8","name":"huart4.AdvancedInit.Swap","type":5},{"address":"0x20006fcc","name":"huart4.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20007010","name":"huart4.ErrorCode","type":5},{"address":"0x20007008","name":"huart4.hdmarx","type":5},{"address":"0x20007004","name":"huart4.hdmatx","type":5},{"address":"0x20006fa8","name":"huart4.Init.BaudRate","type":5},{"address":"0x20006fbc","name":"huart4.Init.HwFlowCtl","type":5},{"address":"0x20006fb8","name":"huart4.Init.Mode","type":5},{"address":"0x20006fc4","name":"huart4.Init.OneBitSampling","type":5},{"address":"0x20006fc0","name":"huart4.Init.OverSampling","type":5},{"address":"0x20006fb4","name":"huart4.Init.Parity","type":5},{"address":"0x20006fb0","name":"huart4.Init.StopBits","type":5},{"address":"0x20006fac","name":"huart4.Init.WordLength","type":5},{"address":"0x20006fa4","name":"huart4.Instance","type":5},{"address":"0x2000700c","name":"huart4.Lock","type":2},{"address":"0x20007000","name":"huart4.Mask","type":3},{"address":"0x20006ff8","name":"huart4.pRxBuffPtr","type":5},{"address":"0x20006ff0","name":"huart4.pTxBuffPtr","type":5},{"address":"0x20006ffe","name":"huart4.RxXferCount","type":3},{"address":"0x20006ffc","name":"huart4.RxXferSize","type":3},{"address":"0x2000700d","name":"huart4.State","type":2},{"address":"0x20006ff6","name":"huart4.TxXferCount","type":3},{"address":"0x20006ff4","name":"huart4.TxXferSize","type":3},{"address":"0x20006e78","name":"huart5.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x20006e94","name":"huart5.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x20006e98","name":"huart5.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20006e84","name":"huart5.AdvancedInit.DataInvert","type":5},{"address":"0x20006e90","name":"huart5.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x20006e9c","name":"huart5.AdvancedInit.MSBFirst","type":5},{"address":"0x20006e8c","name":"huart5.AdvancedInit.OverrunDisable","type":5},{"address":"0x20006e80","name":"huart5.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x20006e88","name":"huart5.AdvancedInit.Swap","type":5},{"address":"0x20006e7c","name":"huart5.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20006ec0","name":"huart5.ErrorCode","type":5},{"address":"0x20006eb8","name":"huart5.hdmarx","type":5},{"address":"0x20006eb4","name":"huart5.hdmatx","type":5},{"address":"0x20006e58","name":"huart5.Init.BaudRate","type":5},{"address":"0x20006e6c","name":"huart5.Init.HwFlowCtl","type":5},{"address":"0x20006e68","name":"huart5.Init.Mode","type":5},{"address":"0x20006e74","name":"huart5.Init.OneBitSampling","type":5},{"address":"0x20006e70","name":"huart5.Init.OverSampling","type":5},{"address":"0x20006e64","name":"huart5.Init.Parity","type":5},{"address":"0x20006e60","name":"huart5.Init.StopBits","type":5},{"address":"0x20006e5c","name":"huart5.Init.WordLength","type":5},{"address":"0x20006e54","name":"huart5.Instance","type":5},{"address":"0x20006ebc","name":"huart5.Lock","type":2},{"address":"0x20006eb0","name":"huart5.Mask","type":3},{"address":"0x20006ea8","name":"huart5.pRxBuffPtr","type":5},{"address":"0x20006ea0","name":"huart5.pTxBuffPtr","type":5},{"address":"0x20006eae","name":"huart5.RxXferCount","type":3},{"address":"0x20006eac","name":"huart5.RxXferSize","type":3},{"address":"0x20006ebd","name":"huart5.State","type":2},{"address":"0x20006ea6","name":"huart5.TxXferCount","type":3},{"address":"0x20006ea4","name":"huart5.TxXferSize","type":3},{"address":"0x20006f58","name":"huart6.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x20006f74","name":"huart6.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x20006f78","name":"huart6.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20006f64","name":"huart6.AdvancedInit.DataInvert","type":5},{"address":"0x20006f70","name":"huart6.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x20006f7c","name":"huart6.AdvancedInit.MSBFirst","type":5},{"address":"0x20006f6c","name":"huart6.AdvancedInit.OverrunDisable","type":5},{"address":"0x20006f60","name":"huart6.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x20006f68","name":"huart6.AdvancedInit.Swap","type":5},{"address":"0x20006f5c","name":"huart6.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20006fa0","name":"huart6.ErrorCode","type":5},{"address":"0x20006f98","name":"huart6.hdmarx","type":5},{"address":"0x20006f94","name":"huart6.hdmatx","type":5},{"address":"0x20006f38","name":"huart6.Init.BaudRate","type":5},{"address":"0x20006f4c","name":"huart6.Init.HwFlowCtl","type":5},{"address":"0x20006f48","name":"huart6.Init.Mode","type":5},{"address":"0x20006f54","name":"huart6.Init.OneBitSampling","type":5},{"address":"0x20006f50","name":"huart6.Init.OverSampling","type":5},{"address":"0x20006f44","name":"huart6.Init.Parity","type":5},{"address":"0x20006f40","name":"huart6.Init.StopBits","type":5},{"address":"0x20006f3c","name":"huart6.Init.WordLength","type":5},{"address":"0x20006f34","name":"huart6.Instance","type":5},{"address":"0x20006f9c","name":"huart6.Lock","type":2},{"address":"0x20006f90","name":"huart6.Mask","type":3},{"address":"0x20006f88","name":"huart6.pRxBuffPtr","type":5},{"address":"0x20006f80","name":"huart6.pTxBuffPtr","type":5},{"address":"0x20006f8e","name":"huart6.RxXferCount","type":3},{"address":"0x20006f8c","name":"huart6.RxXferSize","type":3},{"address":"0x20006f9d","name":"huart6.State","type":2},{"address":"0x20006f86","name":"huart6.TxXferCount","type":3},{"address":"0x20006f84","name":"huart6.TxXferSize","type":3},{"address":"0x0801a010","name":"idcodeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a004","name":"idcodeCommandDefinition.pcCommand","type":5},{"address":"0x0801a008","name":"idcodeCommandDefinition.pcHelpString","type":5},{"address":"0x0801a00c","name":"idcodeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20006d57","name":"index","type":1},{"address":"0x20001236","name":"indMode","type":1},{"address":"0x08019f60","name":"infoCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019f54","name":"infoCommandDefinition.pcCommand","type":5},{"address":"0x08019f58","name":"infoCommandDefinition.pcHelpString","type":5},{"address":"0x08019f5c","name":"infoCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001860","name":"InternalTemperature","type":9},{"address":"0x2000185c","name":"InternalVoltageReferance","type":9},{"address":"0x20000d04","name":"longMessage","type":1},{"address":"0x20000d02","name":"longMessageLastPtr","type":3},{"address":"0x20001868","name":"longMessageScratchpad[0]","type":1},{"address":"0x20001830","name":"MBmessageParams[0]","type":5},{"address":"0x20000d10","name":"message[0]","type":2},{"address":"0x20000d08","name":"messageLength[0]","type":1},{"address":"0x20000bf4","name":"messageParams[0]","type":1},{"address":"0x200000c0","name":"modParam[0].paramFormat","type":2},{"address":"0x200000c4","name":"modParam[0].paramName","type":5},{"address":"0x200000bc","name":"modParam[0].paramPtr","type":5},{"address":"0x2000007c","name":"monthStringAbreviated[0]","type":5},{"address":"0x200013fc","name":"MsgDMAStopped[0]","type":1},{"address":"0x20001cb0","name":"msgRxDMA[0].ErrorCode","type":5},{"address":"0x20001c80","name":"msgRxDMA[0].Init.Direction","type":5},{"address":"0x20001c90","name":"msgRxDMA[0].Init.MemDataAlignment","type":5},{"address":"0x20001c88","name":"msgRxDMA[0].Init.MemInc","type":5},{"address":"0x20001c94","name":"msgRxDMA[0].Init.Mode","type":5},{"address":"0x20001c8c","name":"msgRxDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x20001c84","name":"msgRxDMA[0].Init.PeriphInc","type":5},{"address":"0x20001c98","name":"msgRxDMA[0].Init.Priority","type":5},{"address":"0x20001c7c","name":"msgRxDMA[0].Instance","type":5},{"address":"0x20001c9c","name":"msgRxDMA[0].Lock","type":2},{"address":"0x20001ca0","name":"msgRxDMA[0].Parent","type":5},{"address":"0x20001c9d","name":"msgRxDMA[0].State","type":2},{"address":"0x20001ca4","name":"msgRxDMA[0].XferCpltCallback","type":5},{"address":"0x20001cac","name":"msgRxDMA[0].XferErrorCallback","type":5},{"address":"0x20001ca8","name":"msgRxDMA[0].XferHalfCpltCallback","type":5},{"address":"0x20001c08","name":"msgTxDMA[0].ErrorCode","type":5},{"address":"0x20001bd8","name":"msgTxDMA[0].Init.Direction","type":5},{"address":"0x20001be8","name":"msgTxDMA[0].Init.MemDataAlignment","type":5},{"address":"0x20001be0","name":"msgTxDMA[0].Init.MemInc","type":5},{"address":"0x20001bec","name":"msgTxDMA[0].Init.Mode","type":5},{"address":"0x20001be4","name":"msgTxDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x20001bdc","name":"msgTxDMA[0].Init.PeriphInc","type":5},{"address":"0x20001bf0","name":"msgTxDMA[0].Init.Priority","type":5},{"address":"0x20001bd4","name":"msgTxDMA[0].Instance","type":5},{"address":"0x20001bf4","name":"msgTxDMA[0].Lock","type":2},{"address":"0x20001bf8","name":"msgTxDMA[0].Parent","type":5},{"address":"0x20001bf5","name":"msgTxDMA[0].State","type":2},{"address":"0x20001bfc","name":"msgTxDMA[0].XferCpltCallback","type":5},{"address":"0x20001c04","name":"msgTxDMA[0].XferErrorCallback","type":5},{"address":"0x20001c00","name":"msgTxDMA[0].XferHalfCpltCallback","type":5},{"address":"0x20000b50","name":"myID","type":1},{"address":"0x20000058","name":"myPN","type":3},{"address":"0x20000030","name":"N","type":1},{"address":"0x08019f30","name":"nameCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019f24","name":"nameCommandDefinition.pcCommand","type":5},{"address":"0x08019f28","name":"nameCommandDefinition.pcHelpString","type":5},{"address":"0x08019f2c","name":"nameCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001784","name":"needToDelayButtonStateReset","type":1},{"address":"0x200015f0","name":"nonProcessingParameter[0]","type":1},{"address":"0x20006d55","name":"nonProcessingParameterIndex","type":1},{"address":"0x20006d74","name":"numCommandParameters","type":1},{"address":"0x20006c30","name":"numOfBosCommands","type":1},{"address":"0x20001238","name":"numOfRecordedSnippets","type":1},{"address":"0x200015d8","name":"P1MsgTaskHandle","type":5},{"address":"0x200015dc","name":"P2MsgTaskHandle","type":5},{"address":"0x200015e0","name":"P3MsgTaskHandle","type":5},{"address":"0x200015e4","name":"P4MsgTaskHandle","type":5},{"address":"0x200015e8","name":"P5MsgTaskHandle","type":5},{"address":"0x200015ec","name":"P6MsgTaskHandle","type":5},{"address":"0x200017a0","name":"packetEnd","type":6},{"address":"0x20001798","name":"packetLength","type":6},{"address":"0x20001794","name":"packetStart","type":6},{"address":"0x2000179c","name":"parseStart","type":6},{"address":"0x0801a050","name":"pauseSnipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a044","name":"pauseSnipCommandDefinition.pcCommand","type":5},{"address":"0x0801a048","name":"pauseSnipCommandDefinition.pcHelpString","type":5},{"address":"0x0801a04c","name":"pauseSnipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200000ac","name":"pcBootloaderUpdateMessage","type":5},{"address":"0x00000000","name":"pcEndOfCommandOutputString","type":5},{"address":"0x00000000","name":"pcNewLine","type":5},{"address":"0x2000005c","name":"pcParamsHelpString[0]","type":5},{"address":"0x20000ce0","name":"PcPort","type":1},{"address":"0x200000b8","name":"pcRemoteBootloaderUpdateMessage","type":5},{"address":"0x200000b4","name":"pcRemoteBootloaderUpdateViaPortMessage","type":5},{"address":"0x200000b0","name":"pcRemoteBootloaderUpdateWarningMessage","type":5},{"address":"0x20000c90","name":"pcUserMessage[0]","type":2},{"address":"0x00000000","name":"pcWelcomeMessage","type":5},{"address":"0x20001270","name":"pcWelcomePortMessage[0]","type":2},{"address":"0x20001764","name":"percentage","type":9},{"address":"0x20006d34","name":"perviousCharacter","type":1},{"address":"0x200071f8","name":"pFlash.Address","type":5},{"address":"0x200071f4","name":"pFlash.DataRemaining","type":5},{"address":"0x2000720c","name":"pFlash.ErrorCode","type":5},{"address":"0x20007208","name":"pFlash.Lock","type":2},{"address":"0x200071f0","name":"pFlash.ProcedureOnGoing","type":2},{"address":"0x08019ef0","name":"pingCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019ee4","name":"pingCommandDefinition.pcCommand","type":5},{"address":"0x08019ee8","name":"pingCommandDefinition.pcHelpString","type":5},{"address":"0x08019eec","name":"pingCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000ce4","name":"portStatus[0]","type":1},{"address":"0x20001714","name":"pressCounter[0]","type":5},{"address":"0x20001604","name":"ProcessingParameter[0]","type":1},{"address":"0x20006d54","name":"processingParameterIndex","type":1},{"address":"0x08019ee0","name":"prvRunTimeStatsCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019ed4","name":"prvRunTimeStatsCommandDefinition.pcCommand","type":5},{"address":"0x08019ed8","name":"prvRunTimeStatsCommandDefinition.pcHelpString","type":5},{"address":"0x08019edc","name":"prvRunTimeStatsCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08019ed0","name":"prvTaskStatsCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019ec4","name":"prvTaskStatsCommandDefinition.pcCommand","type":5},{"address":"0x08019ec8","name":"prvTaskStatsCommandDefinition.pcHelpString","type":5},{"address":"0x08019ecc","name":"prvTaskStatsCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20006a98","name":"pxCurrentTCB","type":5},{"address":"0x20006be8","name":"pxCurrentTimerList","type":5},{"address":"0x20006a94","name":"pxDelayedTaskList","type":5},{"address":"0x2000204c","name":"pxEnd","type":5},{"address":"0x20006aa0","name":"pxOverflowDelayedTaskList","type":5},{"address":"0x20006bec","name":"pxOverflowTimerList","type":5},{"address":"0x20006b34","name":"pxReadyTasksLists[0].pxIndex","type":5},{"address":"0x20006b30","name":"pxReadyTasksLists[0].uxNumberOfItems","type":5},{"address":"0x20006b3c","name":"pxReadyTasksLists[0].xListEnd.pxNext","type":5},{"address":"0x20006b40","name":"pxReadyTasksLists[0].xListEnd.pxPrevious","type":5},{"address":"0x20006b38","name":"pxReadyTasksLists[0].xListEnd.xItemValue","type":5},{"address":"0x20006d58","name":"PxRxSemaphoreHandle[0]","type":5},{"address":"0x20006d38","name":"PxTxSemaphoreHandle[0]","type":5},{"address":"0x2000176c","name":"Rank_t","type":1},{"address":"0x0801a0b0","name":"ReadTempDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a0a4","name":"ReadTempDefinition.pcCommand","type":5},{"address":"0x0801a0a8","name":"ReadTempDefinition.pcHelpString","type":5},{"address":"0x0801a0ac","name":"ReadTempDefinition.pxCommandInterpreter","type":5},{"address":"0x0801a0c0","name":"ReadVrefDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a0b4","name":"ReadVrefDefinition.pcCommand","type":5},{"address":"0x0801a0b8","name":"ReadVrefDefinition.pcHelpString","type":5},{"address":"0x0801a0bc","name":"ReadVrefDefinition.pxCommandInterpreter","type":5},{"address":"0x20001234","name":"rejected_FLAG","type":1},{"address":"0x200017a6","name":"rejectedMsg","type":3},{"address":"0x20001730","name":"releaseCounter[0]","type":5},{"address":"0x2000005a","name":"remoteVarFormat","type":2},{"address":"0x08019f90","name":"removebuttonCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019f84","name":"removebuttonCommandDefinition.pcCommand","type":5},{"address":"0x08019f88","name":"removebuttonCommandDefinition.pcHelpString","type":5},{"address":"0x08019f8c","name":"removebuttonCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08019f20","name":"resetCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019f14","name":"resetCommandDefinition.pcCommand","type":5},{"address":"0x08019f18","name":"resetCommandDefinition.pcHelpString","type":5},{"address":"0x08019f1c","name":"resetCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000cf4","name":"responseStatus","type":2},{"address":"0x20006dc8","name":"route[0]","type":1},{"address":"0x20000c58","name":"routeDist[0]","type":1},{"address":"0x20000c74","name":"routePrev[0]","type":1},{"address":"0x200070ec","name":"RtcHandle.Init.AsynchPrediv","type":5},{"address":"0x200070e8","name":"RtcHandle.Init.HourFormat","type":5},{"address":"0x200070f4","name":"RtcHandle.Init.OutPut","type":5},{"address":"0x200070f8","name":"RtcHandle.Init.OutPutPolarity","type":5},{"address":"0x200070fc","name":"RtcHandle.Init.OutPutType","type":5},{"address":"0x200070f0","name":"RtcHandle.Init.SynchPrediv","type":5},{"address":"0x200070e4","name":"RtcHandle.Instance","type":5},{"address":"0x20007100","name":"RtcHandle.Lock","type":2},{"address":"0x20007101","name":"RtcHandle.State","type":2},{"address":"0x0801a3cc","name":"SampleCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a3c0","name":"SampleCommandDefinition.pcCommand","type":5},{"address":"0x0801a3c4","name":"SampleCommandDefinition.pcHelpString","type":5},{"address":"0x0801a3c8","name":"SampleCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08019f70","name":"scastCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019f64","name":"scastCommandDefinition.pcCommand","type":5},{"address":"0x08019f68","name":"scastCommandDefinition.pcHelpString","type":5},{"address":"0x08019f6c","name":"scastCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001750","name":"sConfig.Channel","type":5},{"address":"0x20001754","name":"sConfig.Rank","type":5},{"address":"0x20001758","name":"sConfig.SamplingTime","type":5},{"address":"0x08019ff0","name":"setBaudrateCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019fe4","name":"setBaudrateCommandDefinition.pcCommand","type":5},{"address":"0x08019fe8","name":"setBaudrateCommandDefinition.pcHelpString","type":5},{"address":"0x08019fec","name":"setBaudrateCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08019fa0","name":"setCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019f94","name":"setCommandDefinition.pcCommand","type":5},{"address":"0x08019f98","name":"setCommandDefinition.pcHelpString","type":5},{"address":"0x08019f9c","name":"setCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x0801a030","name":"snipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a024","name":"snipCommandDefinition.pcCommand","type":5},{"address":"0x0801a028","name":"snipCommandDefinition.pcHelpString","type":5},{"address":"0x0801a02c","name":"snipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20006cdc","name":"snippets[0].cmd","type":5},{"address":"0x20006cd2","name":"snippets[0].cond.buffer1[0]","type":1},{"address":"0x20006cd6","name":"snippets[0].cond.buffer2[0]","type":1},{"address":"0x20006cd0","name":"snippets[0].cond.conditionType","type":1},{"address":"0x20006cd1","name":"snippets[0].cond.mathOperator","type":1},{"address":"0x20006ce0","name":"snippets[0].state","type":1},{"address":"0x08019f50","name":"statusCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019f44","name":"statusCommandDefinition.pcCommand","type":5},{"address":"0x08019f48","name":"statusCommandDefinition.pcHelpString","type":5},{"address":"0x08019f4c","name":"statusCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x0801a3ec","name":"StopCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a3e0","name":"StopCommandDefinition.pcCommand","type":5},{"address":"0x0801a3e4","name":"StopCommandDefinition.pcHelpString","type":5},{"address":"0x0801a3e8","name":"StopCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001988","name":"stopStream","type":1},{"address":"0x0801a3dc","name":"StreamCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a3d0","name":"StreamCommandDefinition.pcCommand","type":5},{"address":"0x0801a3d4","name":"StreamCommandDefinition.pcHelpString","type":5},{"address":"0x0801a3d8","name":"StreamCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001ab8","name":"streamDMA[0].ErrorCode","type":5},{"address":"0x20001a88","name":"streamDMA[0].Init.Direction","type":5},{"address":"0x20001a98","name":"streamDMA[0].Init.MemDataAlignment","type":5},{"address":"0x20001a90","name":"streamDMA[0].Init.MemInc","type":5},{"address":"0x20001a9c","name":"streamDMA[0].Init.Mode","type":5},{"address":"0x20001a94","name":"streamDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x20001a8c","name":"streamDMA[0].Init.PeriphInc","type":5},{"address":"0x20001aa0","name":"streamDMA[0].Init.Priority","type":5},{"address":"0x20001a84","name":"streamDMA[0].Instance","type":5},{"address":"0x20001aa4","name":"streamDMA[0].Lock","type":2},{"address":"0x20001aa8","name":"streamDMA[0].Parent","type":5},{"address":"0x20001aa5","name":"streamDMA[0].State","type":2},{"address":"0x20001aac","name":"streamDMA[0].XferCpltCallback","type":5},{"address":"0x20001ab4","name":"streamDMA[0].XferErrorCallback","type":5},{"address":"0x20001ab0","name":"streamDMA[0].XferHalfCpltCallback","type":5},{"address":"0x20000168","name":"SystemCoreClock","type":5},{"address":"0x20000014","name":"temperature","type":9,"checked":false},{"address":"0x0801a090","name":"testportCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a084","name":"testportCommandDefinition.pcCommand","type":5},{"address":"0x0801a088","name":"testportCommandDefinition.pcHelpString","type":5},{"address":"0x0801a08c","name":"testportCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000000","name":"time","type":5,"checked":false},{"address":"0x08019fd0","name":"timeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019fc4","name":"timeCommandDefinition.pcCommand","type":5},{"address":"0x08019fc8","name":"timeCommandDefinition.pcHelpString","type":5},{"address":"0x08019fcc","name":"timeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001986","name":"timedoutMsg","type":3},{"address":"0x20001790","name":"totalnumberofrecevedmesg","type":5},{"address":"0x2000178c","name":"totalnumberoftransmiitedmesg","type":5},{"address":"0x20006d75","name":"twoDMatrixIndex","type":1},{"address":"0x20001404","name":"UARTRxBufIndex[0]","type":1},{"address":"0x2000205c","name":"ucHeap[0]","type":1},{"address":"0x200016d0","name":"ulClocksPer10thOfAMilliSecond","type":5},{"address":"0x20006b1c","name":"ulTaskSwitchedInTime","type":5},{"address":"0x00000000","name":"ulTotalRunTime","type":5},{"address":"0x0801a080","name":"unbridgeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a074","name":"unbridgeCommandDefinition.pcCommand","type":5},{"address":"0x0801a078","name":"unbridgeCommandDefinition.pcHelpString","type":5},{"address":"0x0801a07c","name":"unbridgeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200015d0","name":"UserTaskHandle","type":5},{"address":"0x0801a000","name":"uuidCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019ff4","name":"uuidCommandDefinition.pcCommand","type":5},{"address":"0x08019ff8","name":"uuidCommandDefinition.pcHelpString","type":5},{"address":"0x08019ffc","name":"uuidCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20006bf4","name":"uwTick","type":5},{"address":"0x20000178","name":"uxCriticalNesting","type":5},{"address":"0x20006aa4","name":"uxCurrentNumberOfTasks","type":5},{"address":"0x20006b2c","name":"uxPendedTicks","type":5},{"address":"0x20006b24","name":"uxSchedulerSuspended","type":5},{"address":"0x20006b10","name":"uxTaskNumber","type":5},{"address":"0x20006b20","name":"uxTasksDeleted","type":5},{"address":"0x20006b14","name":"uxTopReadyPriority","type":5},{"address":"0x08019d84","name":"weekdayString[0]","type":5},{"address":"0x20000024","name":"xAcc","type":9,"checked":false},{"address":"0x20006bc4","name":"xActiveTimerList1.pxIndex","type":5},{"address":"0x20006bc0","name":"xActiveTimerList1.uxNumberOfItems","type":5},{"address":"0x20006bcc","name":"xActiveTimerList1.xListEnd.pxNext","type":5},{"address":"0x20006bd0","name":"xActiveTimerList1.xListEnd.pxPrevious","type":5},{"address":"0x20006bc8","name":"xActiveTimerList1.xListEnd.xItemValue","type":5},{"address":"0x20006bd8","name":"xActiveTimerList2.pxIndex","type":5},{"address":"0x20006bd4","name":"xActiveTimerList2.uxNumberOfItems","type":5},{"address":"0x20006be0","name":"xActiveTimerList2.xListEnd.pxNext","type":5},{"address":"0x20006be4","name":"xActiveTimerList2.xListEnd.pxPrevious","type":5},{"address":"0x20006bdc","name":"xActiveTimerList2.xListEnd.xItemValue","type":5},{"address":"0x20002050","name":"xBlockAllocatedBit","type":5},{"address":"0x200015d4","name":"xCommandConsoleTaskHandle","type":5},{"address":"0x20006aac","name":"xDelayedTaskList1.pxIndex","type":5},{"address":"0x20006aa8","name":"xDelayedTaskList1.uxNumberOfItems","type":5},{"address":"0x20006ab4","name":"xDelayedTaskList1.xListEnd.pxNext","type":5},{"address":"0x20006ab8","name":"xDelayedTaskList1.xListEnd.pxPrevious","type":5},{"address":"0x20006ab0","name":"xDelayedTaskList1.xListEnd.xItemValue","type":5},{"address":"0x20006ac0","name":"xDelayedTaskList2.pxIndex","type":5},{"address":"0x20006abc","name":"xDelayedTaskList2.uxNumberOfItems","type":5},{"address":"0x20006ac8","name":"xDelayedTaskList2.xListEnd.pxNext","type":5},{"address":"0x20006acc","name":"xDelayedTaskList2.xListEnd.pxPrevious","type":5},{"address":"0x20006ac4","name":"xDelayedTaskList2.xListEnd.xItemValue","type":5},{"address":"0x20002058","name":"xFreeBytesRemaining","type":5},{"address":"0x20000018","name":"xGyro","type":9,"checked":false},{"address":"0x00000000","name":"xHeapStructSize","type":5},{"address":"0x0801a584","name":"xHelpCommand.cExpectedNumberOfParameters","type":2},{"address":"0x0801a578","name":"xHelpCommand.pcCommand","type":5},{"address":"0x0801a57c","name":"xHelpCommand.pcHelpString","type":5},{"address":"0x0801a580","name":"xHelpCommand.pxCommandInterpreter","type":5},{"address":"0x20000008","name":"xMag","type":6,"checked":false},{"address":"0x20002054","name":"xMinimumEverFreeBytesRemaining","type":5},{"address":"0x2000017c","name":"xNextTaskUnblockTime","type":5},{"address":"0x20006b28","name":"xNumOfOverflows","type":6},{"address":"0x20006ad4","name":"xPendingReadyList.pxIndex","type":5},{"address":"0x20006ad0","name":"xPendingReadyList.uxNumberOfItems","type":5},{"address":"0x20006adc","name":"xPendingReadyList.xListEnd.pxNext","type":5},{"address":"0x20006ae0","name":"xPendingReadyList.xListEnd.pxPrevious","type":5},{"address":"0x20006ad8","name":"xPendingReadyList.xListEnd.xItemValue","type":5},{"address":"0x200071b0","name":"xQueueRegistry[0].pcQueueName","type":5},{"address":"0x200071b4","name":"xQueueRegistry[0].xHandle","type":5},{"address":"0x20000170","name":"xRegisteredCommands.pxCommandLineDefinition","type":5},{"address":"0x20000174","name":"xRegisteredCommands.pxNext","type":5},{"address":"0x20006b0c","name":"xSchedulerRunning","type":6},{"address":"0x20002044","name":"xStart.pxNextFreeBlock","type":5},{"address":"0x20002048","name":"xStart.xBlockSize","type":5},{"address":"0x20006afc","name":"xSuspendedTaskList.pxIndex","type":5},{"address":"0x20006af8","name":"xSuspendedTaskList.uxNumberOfItems","type":5},{"address":"0x20006b04","name":"xSuspendedTaskList.xListEnd.pxNext","type":5},{"address":"0x20006b08","name":"xSuspendedTaskList.xListEnd.pxPrevious","type":5},{"address":"0x20006b00","name":"xSuspendedTaskList.xListEnd.xItemValue","type":5},{"address":"0x20006ae8","name":"xTasksWaitingTermination.pxIndex","type":5},{"address":"0x20006ae4","name":"xTasksWaitingTermination.uxNumberOfItems","type":5},{"address":"0x20006af0","name":"xTasksWaitingTermination.xListEnd.pxNext","type":5},{"address":"0x20006af4","name":"xTasksWaitingTermination.xListEnd.pxPrevious","type":5},{"address":"0x20006aec","name":"xTasksWaitingTermination.xListEnd.xItemValue","type":5},{"address":"0x20006a9c","name":"xTickCount","type":5},{"address":"0x20006bbc","name":"xTimerQueue","type":5},{"address":"0x20006b18","name":"xYieldPending","type":6},{"address":"0x20000028","name":"yAcc","type":9,"checked":false},{"address":"0x2000001c","name":"yGyro","type":9,"checked":false},{"address":"0x2000000c","name":"yMag","type":6,"checked":false},{"address":"0x2000002c","name":"zAcc","type":9,"checked":false},{"address":"0x20000020","name":"zGyro","type":9,"checked":false},{"address":"0x20000010","name":"zMag","type":6,"checked":false}],"expand":false,"filename":"H0BR4.elf","exeModifiedTime":1633029463007,"configLastUpdate":1633037606473},{"id":"8e2fcd73.f54b2","type":"ui_tab","z":"","name":"IMU","icon":"dashboard","disabled":false,"hidden":false}]