STM32CubeIDE/H0BR4x/imu1.json
[{"id":"8381c865.236028","type":"subflow","name":"Single value","info":"The 'single value' subflow allows to :\r\n * Filter Data to extract only one variable after the \"processing node\" step .\r\n * Modify the message to fit with standard widgets such as gauges.\r\n * Limit the number of messages to a maximum of 10 msg per second.\r\n\r\n### **Input**\r\n\r\nThe subflow 'single value' takes in input the `msg.payload`\r\nfrom the processing output. All the messages sent by the processing node have the same structure.\r\n\r\n    \"payload\": {\r\n        \"groupname\": \"Snapshot2\",\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ],\r\n        \"variablename\": \"int2\"\r\n      }\r\n    }\r\n\r\n### **Filter on selected variable**\r\nSeveral messages are sent by the processing node for each variable, so the first step of this 'single value' subflow is to filter and keep only messages related to the selected variable.\r\nThe 'filter variable' node will only keep messages with the right `variablename` key.\r\n\r\n### **Extract duplets table**\r\n\r\nThe received message is an Object containing {groupname, variabledata[array], variablename}.  \r\nThe array contains two variables :\r\n - `y` the value \r\n - `x` the time\r\n\r\nA single message contains multiple pairs of values extract at a regular time interval.\r\nThe time interval depends on the acquisition frequency.\r\nWith the 'change' node and the `set` property, the `msg.payload` is set to \r\n`msg.payload.variabledata`, only the data variable array is set into msg.payload.\r\n\r\n    \"payload\": {\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ]\r\n    }\r\n\r\n### **Split duplets table**\r\n\r\nThe data variable array is split with a length of one in smaller objects by the 'split' node.\r\nEach new object contains two subvariables : `y` and `x`.\r\n\r\n    \"payload\": {\r\n        \"y\": \"9\",\r\n        \"x\": \"1567509421459\"\r\n    }\r\n\r\n\r\n### **Limit the number of messages**\r\n\r\nThe 'delay' node allows to limit the maximum number of message per second.\r\nIn the 'single value' subflow, one message is extracted per second.\r\n\r\n>_Be careful, a dashboard saturation risk exists if too many messages are received per second._\r\n\r\n### **Extract only y values**\r\n\r\nThe `msg.payload` is set to `msg.payload.y` with the `set` property. \r\nOnly `y` variable is set into msg.payload as single value.\r\n\r\n    \"payload\": { \r\n        \"y\": \"9\" \r\n    }\r\n\r\n### **Output** \r\n\r\nSome widgets such as the gauge and the text node are using the `msg.payload` property.  \r\nThe output node is linked to a gauge that allows to see the evolution \r\nof the `y` variable as a function of time.\r\n\r\n\r\n![subflow_gauge](images/subflow_gauge.png)\r\n\r\n### **Details**\r\n\r\nNote : The debug node allows to see clearly and easily the \r\nmessage at the node output.  \r\n\r\n\r\n> More details on [Node-Red][nr]\r\n[nr]: https://nodered.org/docs/user-guide/editor/workspace/subflows\r\n\r\n\r\n-------\r\n\r\n","category":"","in":[{"x":40,"y":60,"wires":[{"id":"3c5ffe0d.9063b2"}]}],"out":[{"x":780,"y":140,"wires":[{"id":"66397fd3.d8111","port":0}]}],"env":[{"name":"varfilter","type":"str","value":""}],"color":"#DDAA99"},{"id":"3c5ffe0d.9063b2","type":"switch","z":"8381c865.236028","name":"filter variable","property":"payload.variablename","propertyType":"msg","rules":[{"t":"eq","v":"varfilter","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":60,"wires":[["4e5ba7a5.14dec8"]]},{"id":"4e5ba7a5.14dec8","type":"change","z":"8381c865.236028","name":"keep only table of duplets","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.variabledata","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":60,"wires":[["42bc6ed.5b20d9"]]},{"id":"42bc6ed.5b20d9","type":"split","z":"8381c865.236028","name":"Split a table[1..n] of duplets in n msg of single duplet","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":800,"y":60,"wires":[["8b8ddb84.6fb208"]]},{"id":"8b8ddb84.6fb208","type":"delay","z":"8381c865.236028","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":140,"wires":[["66397fd3.d8111"]]},{"id":"66397fd3.d8111","type":"change","z":"8381c865.236028","name":"keep only value and delete timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.y","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":140,"wires":[[]]},{"id":"292ab828.018248","type":"tab","label":"IMU","disabled":false,"info":"# Advanced Flow of STM32CubeMonitor to highlight possibilities"},{"id":"d4753c17.2f742","type":"acquisition in","z":"292ab828.018248","name":"myProbe_In2","probeconfig":"d9a6039e.00014","x":130,"y":540,"wires":[["787495b.5e9fb6c"],[]]},{"id":"787495b.5e9fb6c","type":"processing","z":"292ab828.018248","groupname":"IMU Read","groupid":"fd1b05fc.b80228","expressions":[],"statistics":[],"logmode":"no","x":360,"y":540,"wires":[["fd402162.345b5","c4466c67.ac7e4","7c513b25.ac8f14","cc755d0b.7fbdb","5a847fd5.e5ff3","7111b3dd.4ba57c","12a353cb.1239dc","50957c66.fec5d4","b5fee67f.d5de08","b89b1dc9.5fd1b","5644c10.fdfe24","f90914ff.6ab218","f9fbf34b.de0fc","98bebd30.fff6c"],[]]},{"id":"4f1e64e2.8c5c3c","type":"ui_text","z":"292ab828.018248","group":"d4e8ca7d.893ce8","order":2,"width":4,"height":1,"name":"","label":"y","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":580,"wires":[]},{"id":"399d86f3.fbbe3a","type":"ui_text","z":"292ab828.018248","group":"d4e8ca7d.893ce8","order":3,"width":4,"height":1,"name":"","label":"z","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":620,"wires":[]},{"id":"52f1051e.4e1d1c","type":"acquisition out","z":"292ab828.018248","name":"myProbe_Out","probeconfig":"d9a6039e.00014","x":820,"y":80,"wires":[]},{"id":"4c704f93.54897","type":"acquisition out","z":"292ab828.018248","name":"myProbe_Out2","probeconfig":"d9a6039e.00014","x":820,"y":140,"wires":[]},{"id":"1bf9e530.75865b","type":"ui_button","z":"292ab828.018248","name":"","group":"3b87547c.f7b8ac","order":2,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"stop","x":110,"y":120,"wires":[["fd1b05fc.b80228"]]},{"id":"f2585253.cf93d","type":"ui_button","z":"292ab828.018248","name":"","group":"3b87547c.f7b8ac","order":1,"width":0,"height":0,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"start","x":110,"y":80,"wires":[["fd1b05fc.b80228"]]},{"id":"ba930e37.9320e","type":"function","z":"292ab828.018248","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)+\" DPS\"\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":580,"wires":[["4f1e64e2.8c5c3c"]]},{"id":"e69d9a94.b3deb8","type":"function","z":"292ab828.018248","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)+\" DPS\"\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":620,"wires":[["399d86f3.fbbe3a"]]},{"id":"b5fee67f.d5de08","type":"subflow:8381c865.236028","z":"292ab828.018248","name":"myFilter","env":[{"name":"varfilter","value":"xMag","type":"str"}],"x":660,"y":860,"wires":[["61c6c131.12438"]]},{"id":"b89b1dc9.5fd1b","type":"subflow:8381c865.236028","z":"292ab828.018248","name":"myFilter","env":[{"name":"varfilter","value":"yMag","type":"str"}],"x":660,"y":900,"wires":[["48a63d47.9823d4"]]},{"id":"5644c10.fdfe24","type":"subflow:8381c865.236028","z":"292ab828.018248","name":"myFilter","env":[{"name":"varfilter","value":"zMag","type":"str"}],"x":660,"y":940,"wires":[["20af02f7.8173fe"]]},{"id":"bfa34804.f8eaf8","type":"ui_text","z":"292ab828.018248","group":"9a880309.05e5d","order":1,"width":4,"height":1,"name":"","label":"x","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":860,"wires":[]},{"id":"859b907f.33f6b","type":"ui_text","z":"292ab828.018248","group":"9a880309.05e5d","order":2,"width":4,"height":1,"name":"","label":"y","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":900,"wires":[]},{"id":"7c67288d.437468","type":"ui_text","z":"292ab828.018248","group":"9a880309.05e5d","order":3,"width":4,"height":1,"name":"","label":"z","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":940,"wires":[]},{"id":"61c6c131.12438","type":"function","z":"292ab828.018248","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)+\" MGuass\"\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":860,"wires":[["bfa34804.f8eaf8"]]},{"id":"fd402162.345b5","type":"subflow:8381c865.236028","z":"292ab828.018248","name":"myFilter","env":[{"name":"varfilter","value":"tempreture","type":"str"}],"x":660,"y":1020,"wires":[["17a86199.e3c8de"]]},{"id":"269595bd.b47bea","type":"ui_text","z":"292ab828.018248","group":"313e92ff.8bba9e","order":1,"width":12,"height":1,"name":"","label":"temprature","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":1020,"wires":[]},{"id":"17a86199.e3c8de","type":"function","z":"292ab828.018248","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)+\" °C\"\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1020,"wires":[["269595bd.b47bea"]]},{"id":"28640706.a547f8","type":"ui_dropdown","z":"292ab828.018248","name":"","label":"Sensor","tooltip":"","place":"Select option","group":"3b87547c.f7b8ac","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Gyroscope","value":"gyro","type":"str"},{"label":"ِAccelerometer","value":"acc","type":"str"},{"label":"Magnetometer","value":"mag","type":"str"},{"label":"Thermometer","value":"temp","type":"str"}],"payload":"","topic":"","x":120,"y":240,"wires":[["bf7e60d.4b75ba","55ab2230.39419c"]]},{"id":"39375c67.a67b24","type":"ui_button","z":"292ab828.018248","name":"","group":"23b8812c.48752e","order":3,"width":4,"height":1,"passthru":false,"label":"STOP STREAM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":140,"y":360,"wires":[["9c637603.333088"]]},{"id":"9bd37823.8df208","type":"template","z":"292ab828.018248","name":"time address","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n\n   \"variablelist\": [\n       {\n\n           \"address\": \"0x20000000\",\n\n           \"type\": 5,\n\n           \"value\": \"{{payload}}\"\n\n       }\n\n   ],\n\n   \"accesspoint\": 0\n\n}","output":"json","x":490,"y":480,"wires":[["b11b73e6.1b808"]]},{"id":"4e5b25da.30466c","type":"change","z":"292ab828.018248","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":480,"wires":[["9bd37823.8df208"]]},{"id":"a30b2aed.633058","type":"ui_text_input","z":"292ab828.018248","name":"","label":"Sampling Time","tooltip":"","group":"23b8812c.48752e","order":1,"width":3,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"","x":140,"y":480,"wires":[["4e5b25da.30466c"]]},{"id":"8d5f7cc0.90ab6","type":"ui_button","z":"292ab828.018248","name":"","group":"23b8812c.48752e","order":2,"width":3,"height":1,"passthru":false,"label":"START STREAM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":150,"y":400,"wires":[["9c637603.333088"]]},{"id":"a7afff14.4fcc6","type":"ui_button","z":"292ab828.018248","name":"","group":"9f58fe1.e3b0e","order":1,"width":10,"height":1,"passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":110,"y":440,"wires":[["9c637603.333088"]]},{"id":"bf7e60d.4b75ba","type":"function","z":"292ab828.018248","name":"","func":"var s=\"#3\"+msg.payload+\"()\";\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["bbcb1229.74d37"]]},{"id":"bbcb1229.74d37","type":"split","z":"292ab828.018248","name":"","splt":"1","spltType":"len","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":490,"y":240,"wires":[["a0197dbf.9c92e"]]},{"id":"9c637603.333088","type":"template","z":"292ab828.018248","name":"flag address","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n\n   \"variablelist\": [\n       {\n\n           \"address\": \"0x20000004\",\n\n           \"type\": 1,\n\n           \"value\": \"{{payload}}\"\n\n       }\n\n   ],\n\n   \"accesspoint\": 0\n\n}","output":"json","x":410,"y":400,"wires":[["b11b73e6.1b808"]]},{"id":"e3e46270.dc7fe","type":"template","z":"292ab828.018248","name":"currentCharacter address","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n\n   \"variablelist\": [\n       {\n\n           \"address\": \"0x20000005\",\n\n           \"type\": 1,\n\n           \"value\": \"{{payload}}\"\n\n       }\n\n   ],\n\n   \"accesspoint\": 0\n\n}","output":"json","x":790,"y":240,"wires":[["b11b73e6.1b808"]]},{"id":"a0197dbf.9c92e","type":"function","z":"292ab828.018248","name":"","func":"m = msg.payload\no = m.charCodeAt(0);\n\nreturn {payload:o}","outputs":1,"noerr":0,"x":610,"y":240,"wires":[["e3e46270.dc7fe"]]},{"id":"b11b73e6.1b808","type":"change","z":"292ab828.018248","name":"msg 1","rules":[{"t":"set","p":"topic","pt":"msg","to":"write","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":240,"wires":[["4c704f93.54897"]]},{"id":"55ab2230.39419c","type":"function","z":"292ab828.018248","name":"","func":"if (msg.payload == \"gyro\" ) {\n    msg.payload = {\"group\":{\"hide\":[\"IMU_Magnetometer\",\"IMU_Thermometer\",\"IMU_Accelerometer\"],\"show\":[\"IMU_Gyroscope\"]}};\n    return msg;\n}\n\nif (msg.payload == \"acc\" ) {\n     msg.payload = {\"group\":{\"hide\":[\"IMU_Magnetometer\",\"IMU_Thermometer\",\"IMU_Gyroscope\"],\"show\":[\"IMU_Accelerometer\"]}};\n    return msg;\n}\nif (msg.payload == \"mag\" ) {\n     msg.payload = {\"group\":{\"hide\":[\"IMU_Gyroscope\",\"IMU_Thermometer\",\"IMU_Accelerometer\"],\"show\":[\"IMU_Magnetometer\"]}};\n    return msg;\n}\nif (msg.payload == \"temp\" ) {\n    msg.payload = {\"group\":{\"hide\":[\"IMU_Gyroscope\",\"IMU_Magnetometer\",\"IMU_Accelerometer\"],\"show\":[\"IMU_Thermometer\"]}};\n    return msg;\n}\n\nreturn null;\n\n","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["f744dc2b.ce254"]]},{"id":"f744dc2b.ce254","type":"ui_ui_control","z":"292ab828.018248","name":"","events":"connect","x":400,"y":200,"wires":[[]]},{"id":"193f2d13.6f0e73","type":"function","z":"292ab828.018248","name":"","func":"if (msg.payload == \"=342(Sample \" ) {\n    msg.payload = {\"group\":{\"hide\":[\"IMU_Stream\"],\"show\":[\"IMU_Sample\"]}};\n    return msg;\n}\n\nif (msg.payload == \"3\" ) {\n    msg.payload = {\"group\":{\"hide\":[\"IMU_Sample\"],\"show\":[\"IMU_Stream\"]}};\n    return msg;\n}\n\nreturn null;\n\n","outputs":1,"noerr":0,"x":270,"y":280,"wires":[["7f65486b.a17b58"]]},{"id":"7f65486b.a17b58","type":"ui_ui_control","z":"292ab828.018248","name":"","events":"connect","x":400,"y":280,"wires":[[]]},{"id":"2866b232.a48bce","type":"ui_button","z":"292ab828.018248","name":"","group":"3b87547c.f7b8ac","order":4,"width":5,"height":1,"passthru":false,"label":"Sample","tooltip":"","color":"","bgcolor":"","icon":"","payload":"=342(Sample ","payloadType":"str","topic":"","x":120,"y":280,"wires":[["bbcb1229.74d37","193f2d13.6f0e73"]]},{"id":"6f7e8a5c.097f24","type":"ui_button","z":"292ab828.018248","name":"","group":"3b87547c.f7b8ac","order":5,"width":5,"height":1,"passthru":false,"label":"Stream (Optional)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":150,"y":320,"wires":[["193f2d13.6f0e73"]]},{"id":"1fab3a2e.afe1c6","type":"ui_text","z":"292ab828.018248","group":"d4e8ca7d.893ce8","order":1,"width":4,"height":1,"name":"","label":"x","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":540,"wires":[]},{"id":"e98a67d2.dba768","type":"function","z":"292ab828.018248","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)+\" DPS\"\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":540,"wires":[["1fab3a2e.afe1c6"]]},{"id":"90cd4c9e.309bd","type":"ui_chartst","z":"292ab828.018248","group":"d4e8ca7d.893ce8","name":"Gyroscope","order":4,"width":12,"height":8,"chartType":"line","curveType":"linear","duration":"10","ymin":"","ymax":"","x":390,"y":740,"wires":[]},{"id":"df6aeb6e.a2ecf8","type":"variables","z":"292ab828.018248","groupname":"IMU Write","accesspoint":0,"execonfig":"39650d3.67cfef2","variablelist":[],"triggerstartmode":"manual","triggername":"currentCharacter","triggerthreshold":"30000","frequency":"","frequencyType":"0","snapshotheader":"","mode":"direct","lastImportedTime":1632408618366,"openStatus":false,"x":400,"y":140,"wires":[["4c704f93.54897"]]},{"id":"c20a4a1c.71c628","type":"ui_chartst","z":"292ab828.018248","group":"9a880309.05e5d","name":"Magnetometer","order":4,"width":12,"height":8,"chartType":"line","curveType":"linear","duration":"10","ymin":"","ymax":"","x":400,"y":900,"wires":[]},{"id":"43559c7e.4860e4","type":"ui_chartst","z":"292ab828.018248","group":"313e92ff.8bba9e","name":"Thermometer","order":2,"width":12,"height":8,"chartType":"line","curveType":"linear","duration":"10","ymin":"","ymax":"","x":400,"y":980,"wires":[]},{"id":"7111b3dd.4ba57c","type":"subflow:8381c865.236028","z":"292ab828.018248","name":"myFilter","env":[{"name":"varfilter","value":"xAcc","type":"str"}],"x":660,"y":700,"wires":[["dba80e72.ce786"]]},{"id":"12a353cb.1239dc","type":"subflow:8381c865.236028","z":"292ab828.018248","name":"myFilter","env":[{"name":"varfilter","value":"yAcc","type":"str"}],"x":660,"y":740,"wires":[["96e3adbc.1c278"]]},{"id":"50957c66.fec5d4","type":"subflow:8381c865.236028","z":"292ab828.018248","name":"myFilter","env":[{"name":"varfilter","value":"zAcc","type":"str"}],"x":660,"y":780,"wires":[["474688d9.07f5a8"]]},{"id":"24d90ace.b92fc6","type":"ui_text","z":"292ab828.018248","group":"3eda3eec.fdb1e2","order":2,"width":4,"height":1,"name":"","label":"y","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":740,"wires":[]},{"id":"579c9818.22d748","type":"ui_text","z":"292ab828.018248","group":"3eda3eec.fdb1e2","order":3,"width":4,"height":1,"name":"","label":"z","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":780,"wires":[]},{"id":"d7e4f538.c65a98","type":"ui_text","z":"292ab828.018248","group":"3eda3eec.fdb1e2","order":1,"width":4,"height":1,"name":"","label":"x","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":700,"wires":[]},{"id":"dba80e72.ce786","type":"function","z":"292ab828.018248","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)+\" D\"\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":700,"wires":[["d7e4f538.c65a98"]]},{"id":"e8e196ff.161358","type":"ui_chartst","z":"292ab828.018248","group":"3eda3eec.fdb1e2","name":"Accelerometer","order":4,"width":12,"height":8,"chartType":"line","curveType":"linear","duration":"10","ymin":"","ymax":"","x":400,"y":820,"wires":[]},{"id":"4c2163c1.eea83c","type":"ui_button","z":"292ab828.018248","name":"","group":"d4e8ca7d.893ce8","order":5,"width":0,"height":0,"passthru":false,"label":"CLEAR GRAPH","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"clear","x":380,"y":700,"wires":[["90cd4c9e.309bd"]]},{"id":"c28c5752.b2a6d8","type":"ui_button","z":"292ab828.018248","name":"","group":"3eda3eec.fdb1e2","order":5,"width":0,"height":0,"passthru":false,"label":"CLEAR GRAPH","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"clear","x":380,"y":780,"wires":[["e8e196ff.161358"]]},{"id":"2ca0748d.418f5c","type":"ui_button","z":"292ab828.018248","name":"","group":"9a880309.05e5d","order":5,"width":0,"height":0,"passthru":false,"label":"CLEAR GRAPH","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"clear","x":380,"y":860,"wires":[["c20a4a1c.71c628"]]},{"id":"9d6a24e6.ef7618","type":"ui_button","z":"292ab828.018248","name":"","group":"313e92ff.8bba9e","order":3,"width":0,"height":0,"passthru":false,"label":"CLEAR GRAPH","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"clear","x":380,"y":940,"wires":[["43559c7e.4860e4"]]},{"id":"96e3adbc.1c278","type":"function","z":"292ab828.018248","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)+\" D\"\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":740,"wires":[["24d90ace.b92fc6"]]},{"id":"474688d9.07f5a8","type":"function","z":"292ab828.018248","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)+\" D\"\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":780,"wires":[["579c9818.22d748"]]},{"id":"48a63d47.9823d4","type":"function","z":"292ab828.018248","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)+\" MGuass\"\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":900,"wires":[["859b907f.33f6b"]]},{"id":"20af02f7.8173fe","type":"function","z":"292ab828.018248","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)+\" MGuass\"\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":940,"wires":[["7c67288d.437468"]]},{"id":"c4466c67.ac7e4","type":"switch","z":"292ab828.018248","name":"Gyro","property":"payload.variablename","propertyType":"msg","rules":[{"t":"eq","v":"xGyro","vt":"str"},{"t":"eq","v":"yGyro","vt":"str"},{"t":"eq","v":"zGyro","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":130,"y":700,"wires":[["90cd4c9e.309bd"],["90cd4c9e.309bd"],["90cd4c9e.309bd"]]},{"id":"fd1b05fc.b80228","type":"variables","z":"292ab828.018248","groupname":"IMU Read","accesspoint":0,"execonfig":"39650d3.67cfef2","variablelist":[],"triggerstartmode":"manual","triggername":"currentCharacter","triggerthreshold":"30000","frequency":"","frequencyType":"0","snapshotheader":"","mode":"direct","lastImportedTime":1632408628703,"openStatus":false,"x":400,"y":80,"wires":[["52f1051e.4e1d1c"]]},{"id":"7c513b25.ac8f14","type":"switch","z":"292ab828.018248","name":"Acc","property":"payload.variablename","propertyType":"msg","rules":[{"t":"eq","v":"xAcc","vt":"str"},{"t":"eq","v":"yAcc","vt":"str"},{"t":"eq","v":"zAcc","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":130,"y":760,"wires":[["e8e196ff.161358"],["e8e196ff.161358"],["e8e196ff.161358"]]},{"id":"cc755d0b.7fbdb","type":"switch","z":"292ab828.018248","name":"Mag","property":"payload.variablename","propertyType":"msg","rules":[{"t":"eq","v":"xMag","vt":"str"},{"t":"eq","v":"yMag","vt":"str"},{"t":"eq","v":"zMag","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":130,"y":820,"wires":[["c20a4a1c.71c628"],["c20a4a1c.71c628"],["c20a4a1c.71c628"]]},{"id":"5a847fd5.e5ff3","type":"switch","z":"292ab828.018248","name":"Tempreture","property":"payload.variablename","propertyType":"msg","rules":[{"t":"eq","v":"tempreture","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":880,"wires":[["43559c7e.4860e4"]]},{"id":"f90914ff.6ab218","type":"subflow:8381c865.236028","z":"292ab828.018248","name":"myFilter","env":[{"name":"varfilter","value":"xGyro","type":"str"}],"x":660,"y":540,"wires":[["e98a67d2.dba768"]]},{"id":"f9fbf34b.de0fc","type":"subflow:8381c865.236028","z":"292ab828.018248","name":"myFilter","env":[{"name":"varfilter","value":"yGyro","type":"str"}],"x":660,"y":580,"wires":[["ba930e37.9320e"]]},{"id":"98bebd30.fff6c","type":"subflow:8381c865.236028","z":"292ab828.018248","name":"myFilter","env":[{"name":"varfilter","value":"zGyro","type":"str"}],"x":660,"y":620,"wires":[["e69d9a94.b3deb8"]]},{"id":"d9a6039e.00014","type":"probe","z":"","probeid":"066CFF495051717867163114","probename":"ST-Link v2-1B (...63114)","protocol":"SWD","frequency":"1.8 MHz - Default","probeproperty":"{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}","probeversion":"ST Link firmware version V2.J37","connectionType":"p2p"},{"id":"d4e8ca7d.893ce8","type":"ui_group","z":"","name":"Gyroscope","tab":"8e2fcd73.f54b2","order":1,"disp":true,"width":"12","collapse":false},{"id":"3b87547c.f7b8ac","type":"ui_group","z":"","name":"IMU","tab":"8e2fcd73.f54b2","order":5,"disp":true,"width":10,"collapse":false},{"id":"9a880309.05e5d","type":"ui_group","z":"","name":"Magnetometer","tab":"8e2fcd73.f54b2","order":3,"disp":true,"width":"12","collapse":false},{"id":"313e92ff.8bba9e","type":"ui_group","z":"","name":"Thermometer","tab":"8e2fcd73.f54b2","order":4,"disp":true,"width":"12","collapse":false},{"id":"23b8812c.48752e","type":"ui_group","z":"","name":"Stream","tab":"8e2fcd73.f54b2","order":7,"disp":true,"width":10,"collapse":false},{"id":"9f58fe1.e3b0e","type":"ui_group","z":"","name":"Sample","tab":"8e2fcd73.f54b2","order":6,"disp":true,"width":10,"collapse":false},{"id":"39650d3.67cfef2","type":"exe-config","z":"","name":"IMU","exefile":"C:\\Users\\ASIA STORE\\Desktop\\final firmware\\H0BR4x\\STM32CubeIDE\\H0BR4x\\H0BR4.elf","exefolder":"C:\\Users\\ASIA STORE\\Desktop\\final firmware\\H0BR4x\\STM32CubeIDE\\H0BR4x","exevariablelist":[{"address":"0x0801a5d0","name":"aAPBAHBPrescTable[0]","type":1},{"address":"0x2000199c","name":"acceptedMsg","type":3},{"address":"0x2000120d","name":"ACK_FLAG","type":1},{"address":"0x0801a050","name":"actSnipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a044","name":"actSnipCommandDefinition.pcCommand","type":5},{"address":"0x0801a048","name":"actSnipCommandDefinition.pcHelpString","type":5},{"address":"0x0801a04c","name":"actSnipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001944","name":"ADC_flag","type":1},{"address":"0x20001954","name":"ADC_value_temp","type":3},{"address":"0x20001956","name":"ADC_value_Vref","type":3},{"address":"0x20001968","name":"ADCchannelvalue[0]","type":3},{"address":"0x20001a5c","name":"ADCPercentage","type":9},{"address":"0x20001a4c","name":"ADCPort","type":3},{"address":"0x0801a0b0","name":"ADCReadCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a0a4","name":"ADCReadCommandDefinition.pcCommand","type":5},{"address":"0x0801a0a8","name":"ADCReadCommandDefinition.pcHelpString","type":5},{"address":"0x0801a0ac","name":"ADCReadCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001a4e","name":"ADCSide","type":3},{"address":"0x20001a50","name":"ADCValue","type":9},{"address":"0x200011d8","name":"AddBcastPayload","type":1},{"address":"0x08019f90","name":"addbuttonCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019f84","name":"addbuttonCommandDefinition.pcCommand","type":5},{"address":"0x08019f88","name":"addbuttonCommandDefinition.pcHelpString","type":5},{"address":"0x08019f8c","name":"addbuttonCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000130","name":"AHBPrescTable[0]","type":1},{"address":"0x200074ec","name":"arrayPortsDir[0]","type":3},{"address":"0x200018a4","name":"BackEndTaskHandle","type":5},{"address":"0x20000cd8","name":"bcastID","type":1},{"address":"0x20000bfc","name":"bcastRoutes[0]","type":3},{"address":"0x08019f10","name":"bootloaderUpdateCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019f04","name":"bootloaderUpdateCommandDefinition.pcCommand","type":5},{"address":"0x08019f08","name":"bootloaderUpdateCommandDefinition.pcHelpString","type":5},{"address":"0x08019f0c","name":"bootloaderUpdateCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001fc4","name":"bootStatus","type":1},{"address":"0x2000700c","name":"BOS.buttons.debounce","type":3},{"address":"0x20007011","name":"BOS.buttons.maxInterClickTime","type":1},{"address":"0x20007010","name":"BOS.buttons.minInterClickTime","type":1},{"address":"0x2000700e","name":"BOS.buttons.singleClickTime","type":3},{"address":"0x20007014","name":"BOS.clibaudrate","type":5},{"address":"0x20007021","name":"BOS.date.day","type":1},{"address":"0x20007022","name":"BOS.date.month","type":1},{"address":"0x20007020","name":"BOS.date.weekday","type":1},{"address":"0x20007024","name":"BOS.date.year","type":3},{"address":"0x20007018","name":"BOS.daylightsaving","type":1},{"address":"0x20007026","name":"BOS.disableCLI","type":1},{"address":"0x20007019","name":"BOS.hourformat","type":1},{"address":"0x2000701f","name":"BOS.time.ampm","type":1},{"address":"0x2000701e","name":"BOS.time.hours","type":1},{"address":"0x2000701d","name":"BOS.time.minutes","type":1},{"address":"0x2000701a","name":"BOS.time.msec","type":3},{"address":"0x2000701c","name":"BOS.time.seconds","type":1},{"address":"0x20000014","name":"BOS_default.buttons.debounce","type":3},{"address":"0x20000019","name":"BOS_default.buttons.maxInterClickTime","type":1},{"address":"0x20000018","name":"BOS_default.buttons.minInterClickTime","type":1},{"address":"0x20000016","name":"BOS_default.buttons.singleClickTime","type":3},{"address":"0x2000001c","name":"BOS_default.clibaudrate","type":5},{"address":"0x20000029","name":"BOS_default.date.day","type":1},{"address":"0x2000002a","name":"BOS_default.date.month","type":1},{"address":"0x20000028","name":"BOS_default.date.weekday","type":1},{"address":"0x2000002c","name":"BOS_default.date.year","type":3},{"address":"0x20000020","name":"BOS_default.daylightsaving","type":1},{"address":"0x2000002e","name":"BOS_default.disableCLI","type":1},{"address":"0x20000021","name":"BOS_default.hourformat","type":1},{"address":"0x20000027","name":"BOS_default.time.ampm","type":1},{"address":"0x20000026","name":"BOS_default.time.hours","type":1},{"address":"0x20000025","name":"BOS_default.time.minutes","type":1},{"address":"0x20000022","name":"BOS_default.time.msec","type":3},{"address":"0x20000024","name":"BOS_default.time.seconds","type":1},{"address":"0x20000ccd","name":"BOS_initialized","type":1},{"address":"0x20006f94","name":"BOS_var_reg[0]","type":5},{"address":"0x20006f90","name":"BOSMessaging.Acknowledgment","type":1},{"address":"0x20006f8e","name":"BOSMessaging.overrun","type":1},{"address":"0x20006f8f","name":"BOSMessaging.received_Acknowledgment","type":1},{"address":"0x20006f8c","name":"BOSMessaging.response","type":1},{"address":"0x20006f8d","name":"BOSMessaging.trace","type":2},{"address":"0x20006f92","name":"BOSMessaging.trial","type":4},{"address":"0x20000010","name":"BOSMessging_default.Acknowledgment","type":1},{"address":"0x2000000e","name":"BOSMessging_default.overrun","type":1},{"address":"0x2000000f","name":"BOSMessging_default.received_Acknowledgment","type":1},{"address":"0x2000000c","name":"BOSMessging_default.response","type":1},{"address":"0x2000000d","name":"BOSMessging_default.trace","type":2},{"address":"0x20000012","name":"BOSMessging_default.trial","type":4},{"address":"0x0801a080","name":"bridgeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a074","name":"bridgeCommandDefinition.pcCommand","type":5},{"address":"0x0801a078","name":"bridgeCommandDefinition.pcHelpString","type":5},{"address":"0x0801a07c","name":"bridgeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000e70","name":"broadcastResponse[0]","type":1},{"address":"0x200018d4","name":"button[0].events","type":1},{"address":"0x200018ce","name":"button[0].pressedX1Sec","type":1},{"address":"0x200018cf","name":"button[0].pressedX2Sec","type":1},{"address":"0x200018d0","name":"button[0].pressedX3Sec","type":1},{"address":"0x200018d1","name":"button[0].releasedY1Sec","type":1},{"address":"0x200018d2","name":"button[0].releasedY2Sec","type":1},{"address":"0x200018d3","name":"button[0].releasedY3Sec","type":1},{"address":"0x200018cc","name":"button[0].state","type":1},{"address":"0x200018cd","name":"button[0].type","type":1},{"address":"0x20001958","name":"Channel","type":1},{"address":"0x20000bca","name":"CLI_LOW_Baudrate_Flag","type":1},{"address":"0x20007583","name":"counter","type":1},{"address":"0x20001fd8","name":"cOutputBuffer[0]","type":2},{"address":"0x200013e4","name":"crcBuffer[0]","type":1},{"address":"0x20000cdd","name":"cRxedChar","type":2},{"address":"0x20001960","name":"current","type":9},{"address":"0x20000005","name":"currentCharacter","type":1,"checked":true},{"address":"0x2000189c","name":"DataVar","type":3},{"address":"0x08019ff0","name":"dateCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019fe4","name":"dateCommandDefinition.pcCommand","type":5},{"address":"0x08019fe8","name":"dateCommandDefinition.pcHelpString","type":5},{"address":"0x08019fec","name":"dateCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001974","name":"dblCounter[0]","type":1},{"address":"0x08019fd0","name":"defaultCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019fc4","name":"defaultCommandDefinition.pcCommand","type":5},{"address":"0x08019fc8","name":"defaultCommandDefinition.pcHelpString","type":5},{"address":"0x08019fcc","name":"defaultCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200018a0","name":"defaultTaskHandle","type":5},{"address":"0x20001970","name":"delayButtonStateReset","type":1},{"address":"0x0801a070","name":"delSnipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a064","name":"delSnipCommandDefinition.pcCommand","type":5},{"address":"0x0801a068","name":"delSnipCommandDefinition.pcHelpString","type":5},{"address":"0x0801a06c","name":"delSnipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20007588","name":"desiredArray","type":1},{"address":"0x20007587","name":"digitTheCommand","type":1},{"address":"0x2000138c","name":"dmaStreamCount[0]","type":5},{"address":"0x200013bc","name":"dmaStreamDst[0]","type":5},{"address":"0x200013a4","name":"dmaStreamTotal[0]","type":5},{"address":"0x20000050","name":"dstGroupID","type":1},{"address":"0x08019f20","name":"exploreCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019f14","name":"exploreCommandDefinition.pcCommand","type":5},{"address":"0x08019f18","name":"exploreCommandDefinition.pcHelpString","type":5},{"address":"0x08019f1c","name":"exploreCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20006e90","name":"finalMatrix[0]","type":1},{"address":"0x20007589","name":"finalMatrixIndex","type":1},{"address":"0x20000004","name":"flag","type":1,"checked":true},{"address":"0x0801a030","name":"flashsizeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a024","name":"flashsizeCommandDefinition.pcCommand","type":5},{"address":"0x0801a028","name":"flashsizeCommandDefinition.pcHelpString","type":5},{"address":"0x0801a02c","name":"flashsizeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001c08","name":"frontendDMA[0].ErrorCode","type":5},{"address":"0x20001bd8","name":"frontendDMA[0].Init.Direction","type":5},{"address":"0x20001be8","name":"frontendDMA[0].Init.MemDataAlignment","type":5},{"address":"0x20001be0","name":"frontendDMA[0].Init.MemInc","type":5},{"address":"0x20001bec","name":"frontendDMA[0].Init.Mode","type":5},{"address":"0x20001be4","name":"frontendDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x20001bdc","name":"frontendDMA[0].Init.PeriphInc","type":5},{"address":"0x20001bf0","name":"frontendDMA[0].Init.Priority","type":5},{"address":"0x20001bd4","name":"frontendDMA[0].Instance","type":5},{"address":"0x20001bf4","name":"frontendDMA[0].Lock","type":2},{"address":"0x20001bf8","name":"frontendDMA[0].Parent","type":5},{"address":"0x20001bf5","name":"frontendDMA[0].State","type":2},{"address":"0x20001bfc","name":"frontendDMA[0].XferCpltCallback","type":5},{"address":"0x20001c04","name":"frontendDMA[0].XferErrorCallback","type":5},{"address":"0x20001c00","name":"frontendDMA[0].XferHalfCpltCallback","type":5},{"address":"0x08019fc0","name":"getCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019fb4","name":"getCommandDefinition.pcCommand","type":5},{"address":"0x08019fb8","name":"getCommandDefinition.pcHelpString","type":5},{"address":"0x08019fbc","name":"getCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x0801a0e0","name":"GetReadPercentageDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a0d4","name":"GetReadPercentageDefinition.pcCommand","type":5},{"address":"0x0801a0d8","name":"GetReadPercentageDefinition.pcHelpString","type":5},{"address":"0x0801a0dc","name":"GetReadPercentageDefinition.pxCommandInterpreter","type":5},{"address":"0x08019f50","name":"groupCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019f44","name":"groupCommandDefinition.pcCommand","type":5},{"address":"0x08019f48","name":"groupCommandDefinition.pcHelpString","type":5},{"address":"0x08019f4c","name":"groupCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000b2c","name":"groupModules[0]","type":3},{"address":"0x20001bc4","name":"H0BR4_accX","type":9},{"address":"0x20001bc0","name":"H0BR4_accY","type":9},{"address":"0x20001bbc","name":"H0BR4_accZ","type":9},{"address":"0x20001bd0","name":"H0BR4_gyroX","type":9},{"address":"0x20001bcc","name":"H0BR4_gyroY","type":9},{"address":"0x20001bc8","name":"H0BR4_gyroZ","type":9},{"address":"0x20001bb8","name":"H0BR4_magX","type":6},{"address":"0x20001bb4","name":"H0BR4_magY","type":6},{"address":"0x20001bb0","name":"H0BR4_magZ","type":6},{"address":"0x20001bac","name":"H0BR4_temp","type":9},{"address":"0x20007100","name":"hadc.DMA_Handle","type":5},{"address":"0x2000710c","name":"hadc.ErrorCode","type":5},{"address":"0x200070c8","name":"hadc.Init.ClockPrescaler","type":5},{"address":"0x200070e4","name":"hadc.Init.ContinuousConvMode","type":5},{"address":"0x200070d0","name":"hadc.Init.DataAlign","type":5},{"address":"0x200070e8","name":"hadc.Init.DiscontinuousConvMode","type":5},{"address":"0x200070f4","name":"hadc.Init.DMAContinuousRequests","type":5},{"address":"0x200070d8","name":"hadc.Init.EOCSelection","type":5},{"address":"0x200070ec","name":"hadc.Init.ExternalTrigConv","type":5},{"address":"0x200070f0","name":"hadc.Init.ExternalTrigConvEdge","type":5},{"address":"0x200070e0","name":"hadc.Init.LowPowerAutoPowerOff","type":5},{"address":"0x200070dc","name":"hadc.Init.LowPowerAutoWait","type":5},{"address":"0x200070f8","name":"hadc.Init.Overrun","type":5},{"address":"0x200070cc","name":"hadc.Init.Resolution","type":5},{"address":"0x200070fc","name":"hadc.Init.SamplingTimeCommon","type":5},{"address":"0x200070d4","name":"hadc.Init.ScanConvMode","type":5},{"address":"0x200070c4","name":"hadc.Instance","type":5},{"address":"0x20007104","name":"hadc.Lock","type":2},{"address":"0x20007108","name":"hadc.State","type":5},{"address":"0x20007400","name":"hcrc.Init.CRCLength","type":5},{"address":"0x200073f9","name":"hcrc.Init.DefaultInitValueUse","type":1},{"address":"0x200073f8","name":"hcrc.Init.DefaultPolynomialUse","type":1},{"address":"0x200073fc","name":"hcrc.Init.GeneratingPolynomial","type":5},{"address":"0x20007404","name":"hcrc.Init.InitValue","type":5},{"address":"0x20007408","name":"hcrc.Init.InputDataInversionMode","type":5},{"address":"0x2000740c","name":"hcrc.Init.OutputDataInversionMode","type":5},{"address":"0x20007414","name":"hcrc.InputDataFormat","type":5},{"address":"0x200073f4","name":"hcrc.Instance","type":5},{"address":"0x20007410","name":"hcrc.Lock","type":2},{"address":"0x20007411","name":"hcrc.State","type":2},{"address":"0x20007450","name":"hi2c2.ErrorCode","type":5},{"address":"0x20007448","name":"hi2c2.hdmarx","type":5},{"address":"0x20007444","name":"hi2c2.hdmatx","type":5},{"address":"0x20007424","name":"hi2c2.Init.AddressingMode","type":5},{"address":"0x20007428","name":"hi2c2.Init.DualAddressMode","type":5},{"address":"0x20007434","name":"hi2c2.Init.GeneralCallMode","type":5},{"address":"0x20007438","name":"hi2c2.Init.NoStretchMode","type":5},{"address":"0x20007420","name":"hi2c2.Init.OwnAddress1","type":5},{"address":"0x2000742c","name":"hi2c2.Init.OwnAddress2","type":5},{"address":"0x20007430","name":"hi2c2.Init.OwnAddress2Masks","type":5},{"address":"0x2000741c","name":"hi2c2.Init.Timing","type":5},{"address":"0x20007418","name":"hi2c2.Instance","type":5},{"address":"0x2000744c","name":"hi2c2.Lock","type":2},{"address":"0x2000743c","name":"hi2c2.pBuffPtr","type":5},{"address":"0x2000744d","name":"hi2c2.State","type":2},{"address":"0x20007442","name":"hi2c2.XferCount","type":3},{"address":"0x20007440","name":"hi2c2.XferSize","type":3},{"address":"0x200074c8","name":"htim14.Channel","type":2},{"address":"0x200074cc","name":"htim14.hdma[0]","type":5},{"address":"0x200074c0","name":"htim14.Init.ClockDivision","type":5},{"address":"0x200074b8","name":"htim14.Init.CounterMode","type":5},{"address":"0x200074bc","name":"htim14.Init.Period","type":5},{"address":"0x200074b4","name":"htim14.Init.Prescaler","type":5},{"address":"0x200074c4","name":"htim14.Init.RepetitionCounter","type":5},{"address":"0x200074b0","name":"htim14.Instance","type":5},{"address":"0x200074e8","name":"htim14.Lock","type":2},{"address":"0x200074e9","name":"htim14.State","type":2},{"address":"0x2000748c","name":"htim15.Channel","type":2},{"address":"0x20007490","name":"htim15.hdma[0]","type":5},{"address":"0x20007484","name":"htim15.Init.ClockDivision","type":5},{"address":"0x2000747c","name":"htim15.Init.CounterMode","type":5},{"address":"0x20007480","name":"htim15.Init.Period","type":5},{"address":"0x20007478","name":"htim15.Init.Prescaler","type":5},{"address":"0x20007488","name":"htim15.Init.RepetitionCounter","type":5},{"address":"0x20007474","name":"htim15.Instance","type":5},{"address":"0x200074ac","name":"htim15.Lock","type":2},{"address":"0x200074ad","name":"htim15.State","type":2},{"address":"0x20007244","name":"huart1.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x20007260","name":"huart1.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x20007264","name":"huart1.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20007250","name":"huart1.AdvancedInit.DataInvert","type":5},{"address":"0x2000725c","name":"huart1.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x20007268","name":"huart1.AdvancedInit.MSBFirst","type":5},{"address":"0x20007258","name":"huart1.AdvancedInit.OverrunDisable","type":5},{"address":"0x2000724c","name":"huart1.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x20007254","name":"huart1.AdvancedInit.Swap","type":5},{"address":"0x20007248","name":"huart1.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x2000728c","name":"huart1.ErrorCode","type":5},{"address":"0x20007284","name":"huart1.hdmarx","type":5},{"address":"0x20007280","name":"huart1.hdmatx","type":5},{"address":"0x20007224","name":"huart1.Init.BaudRate","type":5},{"address":"0x20007238","name":"huart1.Init.HwFlowCtl","type":5},{"address":"0x20007234","name":"huart1.Init.Mode","type":5},{"address":"0x20007240","name":"huart1.Init.OneBitSampling","type":5},{"address":"0x2000723c","name":"huart1.Init.OverSampling","type":5},{"address":"0x20007230","name":"huart1.Init.Parity","type":5},{"address":"0x2000722c","name":"huart1.Init.StopBits","type":5},{"address":"0x20007228","name":"huart1.Init.WordLength","type":5},{"address":"0x20007220","name":"huart1.Instance","type":5},{"address":"0x20007288","name":"huart1.Lock","type":2},{"address":"0x2000727c","name":"huart1.Mask","type":3},{"address":"0x20007274","name":"huart1.pRxBuffPtr","type":5},{"address":"0x2000726c","name":"huart1.pTxBuffPtr","type":5},{"address":"0x2000727a","name":"huart1.RxXferCount","type":3},{"address":"0x20007278","name":"huart1.RxXferSize","type":3},{"address":"0x20007289","name":"huart1.State","type":2},{"address":"0x20007272","name":"huart1.TxXferCount","type":3},{"address":"0x20007270","name":"huart1.TxXferSize","type":3},{"address":"0x200073a4","name":"huart2.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x200073c0","name":"huart2.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x200073c4","name":"huart2.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x200073b0","name":"huart2.AdvancedInit.DataInvert","type":5},{"address":"0x200073bc","name":"huart2.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x200073c8","name":"huart2.AdvancedInit.MSBFirst","type":5},{"address":"0x200073b8","name":"huart2.AdvancedInit.OverrunDisable","type":5},{"address":"0x200073ac","name":"huart2.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x200073b4","name":"huart2.AdvancedInit.Swap","type":5},{"address":"0x200073a8","name":"huart2.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x200073ec","name":"huart2.ErrorCode","type":5},{"address":"0x200073e4","name":"huart2.hdmarx","type":5},{"address":"0x200073e0","name":"huart2.hdmatx","type":5},{"address":"0x20007384","name":"huart2.Init.BaudRate","type":5},{"address":"0x20007398","name":"huart2.Init.HwFlowCtl","type":5},{"address":"0x20007394","name":"huart2.Init.Mode","type":5},{"address":"0x200073a0","name":"huart2.Init.OneBitSampling","type":5},{"address":"0x2000739c","name":"huart2.Init.OverSampling","type":5},{"address":"0x20007390","name":"huart2.Init.Parity","type":5},{"address":"0x2000738c","name":"huart2.Init.StopBits","type":5},{"address":"0x20007388","name":"huart2.Init.WordLength","type":5},{"address":"0x20007380","name":"huart2.Instance","type":5},{"address":"0x200073e8","name":"huart2.Lock","type":2},{"address":"0x200073dc","name":"huart2.Mask","type":3},{"address":"0x200073d4","name":"huart2.pRxBuffPtr","type":5},{"address":"0x200073cc","name":"huart2.pTxBuffPtr","type":5},{"address":"0x200073da","name":"huart2.RxXferCount","type":3},{"address":"0x200073d8","name":"huart2.RxXferSize","type":3},{"address":"0x200073e9","name":"huart2.State","type":2},{"address":"0x200073d2","name":"huart2.TxXferCount","type":3},{"address":"0x200073d0","name":"huart2.TxXferSize","type":3},{"address":"0x20007158","name":"huart3.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x20007174","name":"huart3.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x20007178","name":"huart3.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20007164","name":"huart3.AdvancedInit.DataInvert","type":5},{"address":"0x20007170","name":"huart3.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x2000717c","name":"huart3.AdvancedInit.MSBFirst","type":5},{"address":"0x2000716c","name":"huart3.AdvancedInit.OverrunDisable","type":5},{"address":"0x20007160","name":"huart3.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x20007168","name":"huart3.AdvancedInit.Swap","type":5},{"address":"0x2000715c","name":"huart3.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x200071a0","name":"huart3.ErrorCode","type":5},{"address":"0x20007198","name":"huart3.hdmarx","type":5},{"address":"0x20007194","name":"huart3.hdmatx","type":5},{"address":"0x20007138","name":"huart3.Init.BaudRate","type":5},{"address":"0x2000714c","name":"huart3.Init.HwFlowCtl","type":5},{"address":"0x20007148","name":"huart3.Init.Mode","type":5},{"address":"0x20007154","name":"huart3.Init.OneBitSampling","type":5},{"address":"0x20007150","name":"huart3.Init.OverSampling","type":5},{"address":"0x20007144","name":"huart3.Init.Parity","type":5},{"address":"0x20007140","name":"huart3.Init.StopBits","type":5},{"address":"0x2000713c","name":"huart3.Init.WordLength","type":5},{"address":"0x20007134","name":"huart3.Instance","type":5},{"address":"0x2000719c","name":"huart3.Lock","type":2},{"address":"0x20007190","name":"huart3.Mask","type":3},{"address":"0x20007188","name":"huart3.pRxBuffPtr","type":5},{"address":"0x20007180","name":"huart3.pTxBuffPtr","type":5},{"address":"0x2000718e","name":"huart3.RxXferCount","type":3},{"address":"0x2000718c","name":"huart3.RxXferSize","type":3},{"address":"0x2000719d","name":"huart3.State","type":2},{"address":"0x20007186","name":"huart3.TxXferCount","type":3},{"address":"0x20007184","name":"huart3.TxXferSize","type":3},{"address":"0x20007330","name":"huart4.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x2000734c","name":"huart4.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x20007350","name":"huart4.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x2000733c","name":"huart4.AdvancedInit.DataInvert","type":5},{"address":"0x20007348","name":"huart4.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x20007354","name":"huart4.AdvancedInit.MSBFirst","type":5},{"address":"0x20007344","name":"huart4.AdvancedInit.OverrunDisable","type":5},{"address":"0x20007338","name":"huart4.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x20007340","name":"huart4.AdvancedInit.Swap","type":5},{"address":"0x20007334","name":"huart4.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20007378","name":"huart4.ErrorCode","type":5},{"address":"0x20007370","name":"huart4.hdmarx","type":5},{"address":"0x2000736c","name":"huart4.hdmatx","type":5},{"address":"0x20007310","name":"huart4.Init.BaudRate","type":5},{"address":"0x20007324","name":"huart4.Init.HwFlowCtl","type":5},{"address":"0x20007320","name":"huart4.Init.Mode","type":5},{"address":"0x2000732c","name":"huart4.Init.OneBitSampling","type":5},{"address":"0x20007328","name":"huart4.Init.OverSampling","type":5},{"address":"0x2000731c","name":"huart4.Init.Parity","type":5},{"address":"0x20007318","name":"huart4.Init.StopBits","type":5},{"address":"0x20007314","name":"huart4.Init.WordLength","type":5},{"address":"0x2000730c","name":"huart4.Instance","type":5},{"address":"0x20007374","name":"huart4.Lock","type":2},{"address":"0x20007368","name":"huart4.Mask","type":3},{"address":"0x20007360","name":"huart4.pRxBuffPtr","type":5},{"address":"0x20007358","name":"huart4.pTxBuffPtr","type":5},{"address":"0x20007366","name":"huart4.RxXferCount","type":3},{"address":"0x20007364","name":"huart4.RxXferSize","type":3},{"address":"0x20007375","name":"huart4.State","type":2},{"address":"0x2000735e","name":"huart4.TxXferCount","type":3},{"address":"0x2000735c","name":"huart4.TxXferSize","type":3},{"address":"0x200071d4","name":"huart5.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x200071f0","name":"huart5.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x200071f4","name":"huart5.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x200071e0","name":"huart5.AdvancedInit.DataInvert","type":5},{"address":"0x200071ec","name":"huart5.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x200071f8","name":"huart5.AdvancedInit.MSBFirst","type":5},{"address":"0x200071e8","name":"huart5.AdvancedInit.OverrunDisable","type":5},{"address":"0x200071dc","name":"huart5.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x200071e4","name":"huart5.AdvancedInit.Swap","type":5},{"address":"0x200071d8","name":"huart5.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x2000721c","name":"huart5.ErrorCode","type":5},{"address":"0x20007214","name":"huart5.hdmarx","type":5},{"address":"0x20007210","name":"huart5.hdmatx","type":5},{"address":"0x200071b4","name":"huart5.Init.BaudRate","type":5},{"address":"0x200071c8","name":"huart5.Init.HwFlowCtl","type":5},{"address":"0x200071c4","name":"huart5.Init.Mode","type":5},{"address":"0x200071d0","name":"huart5.Init.OneBitSampling","type":5},{"address":"0x200071cc","name":"huart5.Init.OverSampling","type":5},{"address":"0x200071c0","name":"huart5.Init.Parity","type":5},{"address":"0x200071bc","name":"huart5.Init.StopBits","type":5},{"address":"0x200071b8","name":"huart5.Init.WordLength","type":5},{"address":"0x200071b0","name":"huart5.Instance","type":5},{"address":"0x20007218","name":"huart5.Lock","type":2},{"address":"0x2000720c","name":"huart5.Mask","type":3},{"address":"0x20007204","name":"huart5.pRxBuffPtr","type":5},{"address":"0x200071fc","name":"huart5.pTxBuffPtr","type":5},{"address":"0x2000720a","name":"huart5.RxXferCount","type":3},{"address":"0x20007208","name":"huart5.RxXferSize","type":3},{"address":"0x20007219","name":"huart5.State","type":2},{"address":"0x20007202","name":"huart5.TxXferCount","type":3},{"address":"0x20007200","name":"huart5.TxXferSize","type":3},{"address":"0x200072c0","name":"huart6.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x200072dc","name":"huart6.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x200072e0","name":"huart6.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x200072cc","name":"huart6.AdvancedInit.DataInvert","type":5},{"address":"0x200072d8","name":"huart6.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x200072e4","name":"huart6.AdvancedInit.MSBFirst","type":5},{"address":"0x200072d4","name":"huart6.AdvancedInit.OverrunDisable","type":5},{"address":"0x200072c8","name":"huart6.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x200072d0","name":"huart6.AdvancedInit.Swap","type":5},{"address":"0x200072c4","name":"huart6.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20007308","name":"huart6.ErrorCode","type":5},{"address":"0x20007300","name":"huart6.hdmarx","type":5},{"address":"0x200072fc","name":"huart6.hdmatx","type":5},{"address":"0x200072a0","name":"huart6.Init.BaudRate","type":5},{"address":"0x200072b4","name":"huart6.Init.HwFlowCtl","type":5},{"address":"0x200072b0","name":"huart6.Init.Mode","type":5},{"address":"0x200072bc","name":"huart6.Init.OneBitSampling","type":5},{"address":"0x200072b8","name":"huart6.Init.OverSampling","type":5},{"address":"0x200072ac","name":"huart6.Init.Parity","type":5},{"address":"0x200072a8","name":"huart6.Init.StopBits","type":5},{"address":"0x200072a4","name":"huart6.Init.WordLength","type":5},{"address":"0x2000729c","name":"huart6.Instance","type":5},{"address":"0x20007304","name":"huart6.Lock","type":2},{"address":"0x200072f8","name":"huart6.Mask","type":3},{"address":"0x200072f0","name":"huart6.pRxBuffPtr","type":5},{"address":"0x200072e8","name":"huart6.pTxBuffPtr","type":5},{"address":"0x200072f6","name":"huart6.RxXferCount","type":3},{"address":"0x200072f4","name":"huart6.RxXferSize","type":3},{"address":"0x20007305","name":"huart6.State","type":2},{"address":"0x200072ee","name":"huart6.TxXferCount","type":3},{"address":"0x200072ec","name":"huart6.TxXferSize","type":3},{"address":"0x0801a020","name":"idcodeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a014","name":"idcodeCommandDefinition.pcCommand","type":5},{"address":"0x0801a018","name":"idcodeCommandDefinition.pcHelpString","type":5},{"address":"0x0801a01c","name":"idcodeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20007584","name":"index","type":1},{"address":"0x2000120e","name":"indMode","type":1},{"address":"0x08019f70","name":"infoCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019f64","name":"infoCommandDefinition.pcCommand","type":5},{"address":"0x08019f68","name":"infoCommandDefinition.pcHelpString","type":5},{"address":"0x08019f6c","name":"infoCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001a58","name":"InternalTemperature","type":9},{"address":"0x20001a54","name":"InternalVoltageReferance","type":9},{"address":"0x20000cdc","name":"longMessage","type":1},{"address":"0x20000cda","name":"longMessageLastPtr","type":3},{"address":"0x20001a60","name":"longMessageScratchpad[0]","type":1},{"address":"0x20001a28","name":"MBmessageParams[0]","type":5},{"address":"0x20000ce8","name":"message[0]","type":2},{"address":"0x20000ce0","name":"messageLength[0]","type":1},{"address":"0x20000bcc","name":"messageParams[0]","type":1},{"address":"0x20000098","name":"modParam[0].paramFormat","type":2},{"address":"0x2000009c","name":"modParam[0].paramName","type":5},{"address":"0x20000094","name":"modParam[0].paramPtr","type":5},{"address":"0x20000054","name":"monthStringAbreviated[0]","type":5},{"address":"0x200013d4","name":"MsgDMAStopped[0]","type":1},{"address":"0x20001ea8","name":"msgRxDMA[0].ErrorCode","type":5},{"address":"0x20001e78","name":"msgRxDMA[0].Init.Direction","type":5},{"address":"0x20001e88","name":"msgRxDMA[0].Init.MemDataAlignment","type":5},{"address":"0x20001e80","name":"msgRxDMA[0].Init.MemInc","type":5},{"address":"0x20001e8c","name":"msgRxDMA[0].Init.Mode","type":5},{"address":"0x20001e84","name":"msgRxDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x20001e7c","name":"msgRxDMA[0].Init.PeriphInc","type":5},{"address":"0x20001e90","name":"msgRxDMA[0].Init.Priority","type":5},{"address":"0x20001e74","name":"msgRxDMA[0].Instance","type":5},{"address":"0x20001e94","name":"msgRxDMA[0].Lock","type":2},{"address":"0x20001e98","name":"msgRxDMA[0].Parent","type":5},{"address":"0x20001e95","name":"msgRxDMA[0].State","type":2},{"address":"0x20001e9c","name":"msgRxDMA[0].XferCpltCallback","type":5},{"address":"0x20001ea4","name":"msgRxDMA[0].XferErrorCallback","type":5},{"address":"0x20001ea0","name":"msgRxDMA[0].XferHalfCpltCallback","type":5},{"address":"0x20001e00","name":"msgTxDMA[0].ErrorCode","type":5},{"address":"0x20001dd0","name":"msgTxDMA[0].Init.Direction","type":5},{"address":"0x20001de0","name":"msgTxDMA[0].Init.MemDataAlignment","type":5},{"address":"0x20001dd8","name":"msgTxDMA[0].Init.MemInc","type":5},{"address":"0x20001de4","name":"msgTxDMA[0].Init.Mode","type":5},{"address":"0x20001ddc","name":"msgTxDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x20001dd4","name":"msgTxDMA[0].Init.PeriphInc","type":5},{"address":"0x20001de8","name":"msgTxDMA[0].Init.Priority","type":5},{"address":"0x20001dcc","name":"msgTxDMA[0].Instance","type":5},{"address":"0x20001dec","name":"msgTxDMA[0].Lock","type":2},{"address":"0x20001df0","name":"msgTxDMA[0].Parent","type":5},{"address":"0x20001ded","name":"msgTxDMA[0].State","type":2},{"address":"0x20001df4","name":"msgTxDMA[0].XferCpltCallback","type":5},{"address":"0x20001dfc","name":"msgTxDMA[0].XferErrorCallback","type":5},{"address":"0x20001df8","name":"msgTxDMA[0].XferHalfCpltCallback","type":5},{"address":"0x20000b28","name":"myID","type":1},{"address":"0x20000030","name":"myPN","type":3},{"address":"0x20000008","name":"N","type":1},{"address":"0x08019f40","name":"nameCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019f34","name":"nameCommandDefinition.pcCommand","type":5},{"address":"0x08019f38","name":"nameCommandDefinition.pcHelpString","type":5},{"address":"0x08019f3c","name":"nameCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x2000197c","name":"needToDelayButtonStateReset","type":1},{"address":"0x20006df0","name":"nonProcessingParameter[0]","type":1},{"address":"0x20007582","name":"nonProcessingParameterIndex","type":1},{"address":"0x20007585","name":"numCommandParameters","type":1},{"address":"0x20006f88","name":"numOfBosCommands","type":1},{"address":"0x20001210","name":"numOfRecordedSnippets","type":1},{"address":"0x200018b0","name":"P1MsgTaskHandle","type":5},{"address":"0x200018b4","name":"P2MsgTaskHandle","type":5},{"address":"0x200018b8","name":"P3MsgTaskHandle","type":5},{"address":"0x200018bc","name":"P4MsgTaskHandle","type":5},{"address":"0x200018c0","name":"P5MsgTaskHandle","type":5},{"address":"0x200018c4","name":"P6MsgTaskHandle","type":5},{"address":"0x20001998","name":"packetEnd","type":6},{"address":"0x20001990","name":"packetLength","type":6},{"address":"0x2000198c","name":"packetStart","type":6},{"address":"0x20001994","name":"parseStart","type":6},{"address":"0x0801a060","name":"pauseSnipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a054","name":"pauseSnipCommandDefinition.pcCommand","type":5},{"address":"0x0801a058","name":"pauseSnipCommandDefinition.pcHelpString","type":5},{"address":"0x0801a05c","name":"pauseSnipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000084","name":"pcBootloaderUpdateMessage","type":5},{"address":"0x00000000","name":"pcEndOfCommandOutputString","type":5},{"address":"0x00000000","name":"pcNewLine","type":5},{"address":"0x20000034","name":"pcParamsHelpString[0]","type":5},{"address":"0x20000cb8","name":"PcPort","type":1},{"address":"0x20000090","name":"pcRemoteBootloaderUpdateMessage","type":5},{"address":"0x2000008c","name":"pcRemoteBootloaderUpdateViaPortMessage","type":5},{"address":"0x20000088","name":"pcRemoteBootloaderUpdateWarningMessage","type":5},{"address":"0x20000c68","name":"pcUserMessage[0]","type":2},{"address":"0x00000000","name":"pcWelcomeMessage","type":5},{"address":"0x20001248","name":"pcWelcomePortMessage[0]","type":2},{"address":"0x2000195c","name":"percentage","type":9},{"address":"0x20007580","name":"perviousCharacter","type":1},{"address":"0x20007568","name":"pFlash.Address","type":5},{"address":"0x20007564","name":"pFlash.DataRemaining","type":5},{"address":"0x2000757c","name":"pFlash.ErrorCode","type":5},{"address":"0x20007578","name":"pFlash.Lock","type":2},{"address":"0x20007560","name":"pFlash.ProcedureOnGoing","type":2},{"address":"0x08019f00","name":"pingCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019ef4","name":"pingCommandDefinition.pcCommand","type":5},{"address":"0x08019ef8","name":"pingCommandDefinition.pcHelpString","type":5},{"address":"0x08019efc","name":"pingCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000cbc","name":"portStatus[0]","type":1},{"address":"0x2000190c","name":"pressCounter[0]","type":5},{"address":"0x20006e04","name":"ProcessingParameter[0]","type":1},{"address":"0x20007581","name":"processingParameterIndex","type":1},{"address":"0x08019ef0","name":"prvRunTimeStatsCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019ee4","name":"prvRunTimeStatsCommandDefinition.pcCommand","type":5},{"address":"0x08019ee8","name":"prvRunTimeStatsCommandDefinition.pcHelpString","type":5},{"address":"0x08019eec","name":"prvRunTimeStatsCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08019ee0","name":"prvTaskStatsCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019ed4","name":"prvTaskStatsCommandDefinition.pcCommand","type":5},{"address":"0x08019ed8","name":"prvTaskStatsCommandDefinition.pcHelpString","type":5},{"address":"0x08019edc","name":"prvTaskStatsCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20006c90","name":"pxCurrentTCB","type":5},{"address":"0x20006de0","name":"pxCurrentTimerList","type":5},{"address":"0x20006c8c","name":"pxDelayedTaskList","type":5},{"address":"0x20002244","name":"pxEnd","type":5},{"address":"0x20006c98","name":"pxOverflowDelayedTaskList","type":5},{"address":"0x20006de4","name":"pxOverflowTimerList","type":5},{"address":"0x20006d2c","name":"pxReadyTasksLists[0].pxIndex","type":5},{"address":"0x20006d28","name":"pxReadyTasksLists[0].uxNumberOfItems","type":5},{"address":"0x20006d34","name":"pxReadyTasksLists[0].xListEnd.pxNext","type":5},{"address":"0x20006d38","name":"pxReadyTasksLists[0].xListEnd.pxPrevious","type":5},{"address":"0x20006d30","name":"pxReadyTasksLists[0].xListEnd.xItemValue","type":5},{"address":"0x200070a8","name":"PxRxSemaphoreHandle[0]","type":5},{"address":"0x2000708c","name":"PxTxSemaphoreHandle[0]","type":5},{"address":"0x20001964","name":"Rank_t","type":1},{"address":"0x0801a0c0","name":"ReadTempDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a0b4","name":"ReadTempDefinition.pcCommand","type":5},{"address":"0x0801a0b8","name":"ReadTempDefinition.pcHelpString","type":5},{"address":"0x0801a0bc","name":"ReadTempDefinition.pxCommandInterpreter","type":5},{"address":"0x0801a0d0","name":"ReadVrefDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a0c4","name":"ReadVrefDefinition.pcCommand","type":5},{"address":"0x0801a0c8","name":"ReadVrefDefinition.pcHelpString","type":5},{"address":"0x0801a0cc","name":"ReadVrefDefinition.pxCommandInterpreter","type":5},{"address":"0x2000120c","name":"rejected_FLAG","type":1},{"address":"0x2000199e","name":"rejectedMsg","type":3},{"address":"0x20001928","name":"releaseCounter[0]","type":5},{"address":"0x20000032","name":"remoteVarFormat","type":2},{"address":"0x08019fa0","name":"removebuttonCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019f94","name":"removebuttonCommandDefinition.pcCommand","type":5},{"address":"0x08019f98","name":"removebuttonCommandDefinition.pcHelpString","type":5},{"address":"0x08019f9c","name":"removebuttonCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08019f30","name":"resetCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019f24","name":"resetCommandDefinition.pcCommand","type":5},{"address":"0x08019f28","name":"resetCommandDefinition.pcHelpString","type":5},{"address":"0x08019f2c","name":"resetCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000ccc","name":"responseStatus","type":2},{"address":"0x20007110","name":"route[0]","type":1},{"address":"0x20000c30","name":"routeDist[0]","type":1},{"address":"0x20000c4c","name":"routePrev[0]","type":1},{"address":"0x2000745c","name":"RtcHandle.Init.AsynchPrediv","type":5},{"address":"0x20007458","name":"RtcHandle.Init.HourFormat","type":5},{"address":"0x20007464","name":"RtcHandle.Init.OutPut","type":5},{"address":"0x20007468","name":"RtcHandle.Init.OutPutPolarity","type":5},{"address":"0x2000746c","name":"RtcHandle.Init.OutPutType","type":5},{"address":"0x20007460","name":"RtcHandle.Init.SynchPrediv","type":5},{"address":"0x20007454","name":"RtcHandle.Instance","type":5},{"address":"0x20007470","name":"RtcHandle.Lock","type":2},{"address":"0x20007471","name":"RtcHandle.State","type":2},{"address":"0x0801a3dc","name":"SampleCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a3d0","name":"SampleCommandDefinition.pcCommand","type":5},{"address":"0x0801a3d4","name":"SampleCommandDefinition.pcHelpString","type":5},{"address":"0x0801a3d8","name":"SampleCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08019f80","name":"scastCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019f74","name":"scastCommandDefinition.pcCommand","type":5},{"address":"0x08019f78","name":"scastCommandDefinition.pcHelpString","type":5},{"address":"0x08019f7c","name":"scastCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001948","name":"sConfig.Channel","type":5},{"address":"0x2000194c","name":"sConfig.Rank","type":5},{"address":"0x20001950","name":"sConfig.SamplingTime","type":5},{"address":"0x0801a000","name":"setBaudrateCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019ff4","name":"setBaudrateCommandDefinition.pcCommand","type":5},{"address":"0x08019ff8","name":"setBaudrateCommandDefinition.pcHelpString","type":5},{"address":"0x08019ffc","name":"setBaudrateCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08019fb0","name":"setCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019fa4","name":"setCommandDefinition.pcCommand","type":5},{"address":"0x08019fa8","name":"setCommandDefinition.pcHelpString","type":5},{"address":"0x08019fac","name":"setCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x0801a040","name":"snipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a034","name":"snipCommandDefinition.pcCommand","type":5},{"address":"0x0801a038","name":"snipCommandDefinition.pcHelpString","type":5},{"address":"0x0801a03c","name":"snipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20007034","name":"snippets[0].cmd","type":5},{"address":"0x2000702a","name":"snippets[0].cond.buffer1[0]","type":1},{"address":"0x2000702e","name":"snippets[0].cond.buffer2[0]","type":1},{"address":"0x20007028","name":"snippets[0].cond.conditionType","type":1},{"address":"0x20007029","name":"snippets[0].cond.mathOperator","type":1},{"address":"0x20007038","name":"snippets[0].state","type":1},{"address":"0x08019f60","name":"statusCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019f54","name":"statusCommandDefinition.pcCommand","type":5},{"address":"0x08019f58","name":"statusCommandDefinition.pcHelpString","type":5},{"address":"0x08019f5c","name":"statusCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x0801a3fc","name":"StopCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a3f0","name":"StopCommandDefinition.pcCommand","type":5},{"address":"0x0801a3f4","name":"StopCommandDefinition.pcHelpString","type":5},{"address":"0x0801a3f8","name":"StopCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001b80","name":"stopStream","type":1},{"address":"0x0801a3ec","name":"StreamCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a3e0","name":"StreamCommandDefinition.pcCommand","type":5},{"address":"0x0801a3e4","name":"StreamCommandDefinition.pcHelpString","type":5},{"address":"0x0801a3e8","name":"StreamCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001cb0","name":"streamDMA[0].ErrorCode","type":5},{"address":"0x20001c80","name":"streamDMA[0].Init.Direction","type":5},{"address":"0x20001c90","name":"streamDMA[0].Init.MemDataAlignment","type":5},{"address":"0x20001c88","name":"streamDMA[0].Init.MemInc","type":5},{"address":"0x20001c94","name":"streamDMA[0].Init.Mode","type":5},{"address":"0x20001c8c","name":"streamDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x20001c84","name":"streamDMA[0].Init.PeriphInc","type":5},{"address":"0x20001c98","name":"streamDMA[0].Init.Priority","type":5},{"address":"0x20001c7c","name":"streamDMA[0].Instance","type":5},{"address":"0x20001c9c","name":"streamDMA[0].Lock","type":2},{"address":"0x20001ca0","name":"streamDMA[0].Parent","type":5},{"address":"0x20001c9d","name":"streamDMA[0].State","type":2},{"address":"0x20001ca4","name":"streamDMA[0].XferCpltCallback","type":5},{"address":"0x20001cac","name":"streamDMA[0].XferErrorCallback","type":5},{"address":"0x20001ca8","name":"streamDMA[0].XferHalfCpltCallback","type":5},{"address":"0x20000140","name":"SystemCoreClock","type":5},{"address":"0x2000737c","name":"tempreture","type":9,"checked":true},{"address":"0x0801a0a0","name":"testportCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a094","name":"testportCommandDefinition.pcCommand","type":5},{"address":"0x0801a098","name":"testportCommandDefinition.pcHelpString","type":5},{"address":"0x0801a09c","name":"testportCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000000","name":"time","type":5,"checked":true},{"address":"0x08019fe0","name":"timeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019fd4","name":"timeCommandDefinition.pcCommand","type":5},{"address":"0x08019fd8","name":"timeCommandDefinition.pcHelpString","type":5},{"address":"0x08019fdc","name":"timeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001b7e","name":"timedoutMsg","type":3},{"address":"0x20001988","name":"totalnumberofrecevedmesg","type":5},{"address":"0x20001984","name":"totalnumberoftransmiitedmesg","type":5},{"address":"0x20007586","name":"twoDMatrixIndex","type":1},{"address":"0x200013dc","name":"UARTRxBufIndex[0]","type":1},{"address":"0x20002254","name":"ucHeap[0]","type":1},{"address":"0x200018c8","name":"ulClocksPer10thOfAMilliSecond","type":5},{"address":"0x20006d14","name":"ulTaskSwitchedInTime","type":5},{"address":"0x00000000","name":"ulTotalRunTime","type":5},{"address":"0x0801a090","name":"unbridgeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a084","name":"unbridgeCommandDefinition.pcCommand","type":5},{"address":"0x0801a088","name":"unbridgeCommandDefinition.pcHelpString","type":5},{"address":"0x0801a08c","name":"unbridgeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200018a8","name":"UserTaskHandle","type":5},{"address":"0x0801a010","name":"uuidCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a004","name":"uuidCommandDefinition.pcCommand","type":5},{"address":"0x0801a008","name":"uuidCommandDefinition.pcHelpString","type":5},{"address":"0x0801a00c","name":"uuidCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20006dec","name":"uwTick","type":5},{"address":"0x20000150","name":"uxCriticalNesting","type":5},{"address":"0x20006c9c","name":"uxCurrentNumberOfTasks","type":5},{"address":"0x20006d24","name":"uxPendedTicks","type":5},{"address":"0x20006d1c","name":"uxSchedulerSuspended","type":5},{"address":"0x20006d08","name":"uxTaskNumber","type":5},{"address":"0x20006d18","name":"uxTasksDeleted","type":5},{"address":"0x20006d0c","name":"uxTopReadyPriority","type":5},{"address":"0x08019d94","name":"weekdayString[0]","type":5},{"address":"0x200071ac","name":"xAcc","type":9,"checked":true},{"address":"0x20006dbc","name":"xActiveTimerList1.pxIndex","type":5},{"address":"0x20006db8","name":"xActiveTimerList1.uxNumberOfItems","type":5},{"address":"0x20006dc4","name":"xActiveTimerList1.xListEnd.pxNext","type":5},{"address":"0x20006dc8","name":"xActiveTimerList1.xListEnd.pxPrevious","type":5},{"address":"0x20006dc0","name":"xActiveTimerList1.xListEnd.xItemValue","type":5},{"address":"0x20006dd0","name":"xActiveTimerList2.pxIndex","type":5},{"address":"0x20006dcc","name":"xActiveTimerList2.uxNumberOfItems","type":5},{"address":"0x20006dd8","name":"xActiveTimerList2.xListEnd.pxNext","type":5},{"address":"0x20006ddc","name":"xActiveTimerList2.xListEnd.pxPrevious","type":5},{"address":"0x20006dd4","name":"xActiveTimerList2.xListEnd.xItemValue","type":5},{"address":"0x20002248","name":"xBlockAllocatedBit","type":5},{"address":"0x200018ac","name":"xCommandConsoleTaskHandle","type":5},{"address":"0x20006ca4","name":"xDelayedTaskList1.pxIndex","type":5},{"address":"0x20006ca0","name":"xDelayedTaskList1.uxNumberOfItems","type":5},{"address":"0x20006cac","name":"xDelayedTaskList1.xListEnd.pxNext","type":5},{"address":"0x20006cb0","name":"xDelayedTaskList1.xListEnd.pxPrevious","type":5},{"address":"0x20006ca8","name":"xDelayedTaskList1.xListEnd.xItemValue","type":5},{"address":"0x20006cb8","name":"xDelayedTaskList2.pxIndex","type":5},{"address":"0x20006cb4","name":"xDelayedTaskList2.uxNumberOfItems","type":5},{"address":"0x20006cc0","name":"xDelayedTaskList2.xListEnd.pxNext","type":5},{"address":"0x20006cc4","name":"xDelayedTaskList2.xListEnd.pxPrevious","type":5},{"address":"0x20006cbc","name":"xDelayedTaskList2.xListEnd.xItemValue","type":5},{"address":"0x20002250","name":"xFreeBytesRemaining","type":5},{"address":"0x20007130","name":"xGyro","type":9,"checked":true},{"address":"0x00000000","name":"xHeapStructSize","type":5},{"address":"0x0801a594","name":"xHelpCommand.cExpectedNumberOfParameters","type":2},{"address":"0x0801a588","name":"xHelpCommand.pcCommand","type":5},{"address":"0x0801a58c","name":"xHelpCommand.pcHelpString","type":5},{"address":"0x0801a590","name":"xHelpCommand.pxCommandInterpreter","type":5},{"address":"0x200071a4","name":"xMag","type":6,"checked":true},{"address":"0x2000224c","name":"xMinimumEverFreeBytesRemaining","type":5},{"address":"0x20000154","name":"xNextTaskUnblockTime","type":5},{"address":"0x20006d20","name":"xNumOfOverflows","type":6},{"address":"0x20006ccc","name":"xPendingReadyList.pxIndex","type":5},{"address":"0x20006cc8","name":"xPendingReadyList.uxNumberOfItems","type":5},{"address":"0x20006cd4","name":"xPendingReadyList.xListEnd.pxNext","type":5},{"address":"0x20006cd8","name":"xPendingReadyList.xListEnd.pxPrevious","type":5},{"address":"0x20006cd0","name":"xPendingReadyList.xListEnd.xItemValue","type":5},{"address":"0x20007520","name":"xQueueRegistry[0].pcQueueName","type":5},{"address":"0x20007524","name":"xQueueRegistry[0].xHandle","type":5},{"address":"0x20000148","name":"xRegisteredCommands.pxCommandLineDefinition","type":5},{"address":"0x2000014c","name":"xRegisteredCommands.pxNext","type":5},{"address":"0x20006d04","name":"xSchedulerRunning","type":6},{"address":"0x2000223c","name":"xStart.pxNextFreeBlock","type":5},{"address":"0x20002240","name":"xStart.xBlockSize","type":5},{"address":"0x20006cf4","name":"xSuspendedTaskList.pxIndex","type":5},{"address":"0x20006cf0","name":"xSuspendedTaskList.uxNumberOfItems","type":5},{"address":"0x20006cfc","name":"xSuspendedTaskList.xListEnd.pxNext","type":5},{"address":"0x20006d00","name":"xSuspendedTaskList.xListEnd.pxPrevious","type":5},{"address":"0x20006cf8","name":"xSuspendedTaskList.xListEnd.xItemValue","type":5},{"address":"0x20006ce0","name":"xTasksWaitingTermination.pxIndex","type":5},{"address":"0x20006cdc","name":"xTasksWaitingTermination.uxNumberOfItems","type":5},{"address":"0x20006ce8","name":"xTasksWaitingTermination.xListEnd.pxNext","type":5},{"address":"0x20006cec","name":"xTasksWaitingTermination.xListEnd.pxPrevious","type":5},{"address":"0x20006ce4","name":"xTasksWaitingTermination.xListEnd.xItemValue","type":5},{"address":"0x20006c94","name":"xTickCount","type":5},{"address":"0x20006db4","name":"xTimerQueue","type":5},{"address":"0x20006d10","name":"xYieldPending","type":6},{"address":"0x20007290","name":"yAcc","type":9,"checked":true},{"address":"0x20007294","name":"yGyro","type":9,"checked":true},{"address":"0x20007298","name":"yMag","type":6,"checked":true},{"address":"0x2000712c","name":"zAcc","type":9,"checked":true},{"address":"0x200073f0","name":"zGyro","type":9,"checked":true},{"address":"0x200071a8","name":"zMag","type":6,"checked":true}],"expand":false,"filename":"H0BR4.elf","exeModifiedTime":1632331374667,"configLastUpdate":1632401105592},{"id":"3eda3eec.fdb1e2","type":"ui_group","z":"","name":"Accelerometer","tab":"8e2fcd73.f54b2","order":2,"disp":true,"width":"12","collapse":false},{"id":"8e2fcd73.f54b2","type":"ui_tab","z":"","name":"IMU","icon":"dashboard","disabled":false,"hidden":false}]